<div id="accordian">
    <div class="header-logo">
        <img loading="lazy" src="../../../../assets/logo.png" class="img-2" />
        <a href="#" class="title">Clinique x</a>
    </div>
    <ul class="show-dropdown main-navbar">
        <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
        <li class="active">
            <a href="javascript:void(0);">
                <div class="icon-menu">
                    <!-- Utilisez le code SVG actif lorsque le menu est actif -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.51699 2.36517L3.02533 5.86517C2.27533 6.44851 1.66699 7.69017 1.66699 8.63181V14.8068C1.66699 16.7401 3.24199 18.3235 5.17533 18.3235H14.8253C16.7587 18.3235 18.3337 16.7401 18.3337 14.8151V8.74847C18.3337 7.74017 17.6587 6.44851 16.8337 5.87351L11.6837 2.26517C10.517 1.44851 8.64199 1.49017 7.51699 2.36517Z" stroke="#5D6273" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <!-- Appliquez le style au texte du lien -->
                <span class="menu-text">Dashboard</span>
            </a>
        </li>
        <li class="has-submenu">
            <a href="javascript:void(0);">
                <i class="fa-regular fa-building"></i>Organisation
                <img src="../../../../assets/ico/arrow.png" class="arrow-icon" />
            </a>
            <ul class="submenu ">
                <li><a href="javascript:void(0);">Clinique</a></li>
                <li><a href="javascript:void(0);">Poles</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="javascript:void(0);">
                <i class="fa-regular fa-user"></i>Personnes
                <img src="../../../../assets/ico/arrow.png" class="arrow-icon" />
            </a>
            <ul class="submenu">
                <li><a href="javascript:void(0);">Personnel</a></li>
                <li><a href="javascript:void(0);">Patients</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="javascript:void(0);">
                <i class="fa-solid fa-money-bills"></i>Finance
                <img src="../../../../assets/ico/arrow.png" class="arrow-icon" />
            </a>
            <ul class="submenu">
                <li><a href="javascript:void(0);">Transactions</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="javascript:void(0);">
                <i class="fa-solid fa-folder"></i>Dossiers
                <img src="../../../../assets/ico/arrow.png" class="arrow-icon" />
            </a>
            <ul class="submenu">
                <li><a href="javascript:void(0);">Rendez-vous</a></li>
                <li><a href="javascript:void(0);">Prestations</a></li>
                <li><a href="javascript:void(0);">Fiches médicales</a></li>
                <li><a href="javascript:void(0);">Dossiers médicaux</a></li>
            </ul>
        </li>
        <div class="escape">
            <li class="has-submenu">
                <a href="javascript:void(0);">
                    <i class="fa-solid fa-gear"></i>Paramètres
                    <img src="../../../../assets/ico/arrow.png" class="arrow-icon" />
                </a>
                <ul class="submenu">
                    <li><a href="javascript:void(0);">Paramètres</a></li>
                    <li><a href="javascript:void(0);">Logs actions</a></li>
                    <li><a href="javascript:void(0);">Sessions</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:void(0);">
                    <i class="fa-solid fa-shield-halved"></i>Sécurité
                    <ul class="submenu">
                        <li><a href="javascript:void(0);">Modules</a></li>
                        <li><a href="javascript:void(0);">Fonctionnalités</a></li>
                        <li><a href="javascript:void(0);">Actions</a></li>
                        <li><a href="javascript:void(0);">Profils</a></li>
                        <li><a href="javascript:void(0);">Accès</a></li>
                    </ul>
                </a>
            </li>
        </div>
    </ul>
</div>
