<div class="mainbody">
    <div class="headerLayout">
        <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>

      <div class="headerActions">
        <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
        <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
        <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
        <div class="addActionHeader">
          <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
          <span>Ajouter</span>
          <a [nzDropdownMenu]="menu" nz-dropdown>
            <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
          </a>
        </div>
      </div>
    </div>

    <div class="dataLayout">
      <p>Gestion des fiches medicales</p>
      <div class="controllers">
        <div class="searchInput">
          <nz-input-group [nzPrefix]="suffixIconSearch">
            <input nz-input placeholder="Rechercher par patient " type="text"/>
          </nz-input-group>
        </div>
        <div class="dateDesc"><p>Date</p></div>
        <div class="searchByDate">
          <nz-date-picker  ></nz-date-picker>
        </div>

        <div class="filterButton">
          <button class="filter-form-button" nz-button>Filtrer</button>
        </div>
      </div>
      <nz-table #prestationsTable
                [nzData]="patients" [nzPageSize]="5">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date de creation</th>
            <th>Nom du patient</th>
            <th>Créer par</th>
            <th>Actions</th>
            <!-- Ajoutez d'autres colonnes si nécessaire -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.personne.id }}</td>
            <td>{{ patient.dateCreation | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ patient.personne.nom }} {{ patient.personne.prenom }}</td>
            <td>
                {{ patient.personnel!.personne.prenom}} {{ patient.personnel!.personne.nom }}
            </td>


            <td>
              <a [nzDropdownMenu]="nonPayeFacture" nzTrigger="click" nz-dropdown>
                <img alt="Arrow Down" src="assets/from_figma/actionsOnRow.svg">
              </a>
            </td>
            <!--        <td>{{ prestation.diagnostic }}</td>-->
            <!--        <td>{{ prestation.conclusion }}</td>-->

          </tr>
        </tbody>

      </nz-table>

    </div>
  </div>

  <ng-template #suffixIconSearch>
    <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
  </ng-template>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau Patient</span>
      </li>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau RDV</span>
      </li>

    </ul>
  </nz-dropdown-menu>

  <nz-dropdown-menu #nonPayeFacture="nzDropdownMenu">
    <ul nz-menu>
      <li class="selectedLink" nz-menu-item>
        <span>Voir la fiche Medicale</span>
      </li>
      <li class="selectedLink" nz-menu-item>
        <a routerLink="/dossiers/prestation/">
        <span>Ajouter une prestation</span>
        </a>
      </li>

    </ul>
  </nz-dropdown-menu>
