<div class="mainbody">
  <div class="headerLayout">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
    </nz-input-group>
    <div class="headerActions">
      <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
      <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
      <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
      <div class="addActionHeader">
        <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
        <span>Ajouter</span>
        <a [nzDropdownMenu]="menu" nz-dropdown>
          <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
        </a>
      </div>
    </div>
  </div>
  <div class="dash">
    <div class="shart">
      <p>Caisse du jour</p>
      <div class="make-spaceBetween">
        <div class="legende">
          <nz-badge nzColor="#266141"></nz-badge>
          Orange Money
          <nz-badge nzColor="#84BE38"></nz-badge>
          Wave
          <nz-badge nzColor="#FDCD51"></nz-badge>
          Espèce
        </div>
        <nz-select
          (ngModelChange)="OnWeekChange($event)"
          [(ngModel)]="isLastWeek"
        >
          <nz-option [nzValue]="false" nzLabel="Semaine en cours"></nz-option>
          <nz-option [nzValue]="true" nzLabel="Semaine dernière"></nz-option>
        </nz-select>
      </div>

      <div class="chart">
        <div>
          <canvas id="TransStats">{{chartTrans}}</canvas>
        </div>
      </div>
    </div>
    <div class="trans-stats">
      <div *ngFor="let stat of numberStats; let i = index"  class="myCardStats">
        <div class="logoStats"><img alt="stats" src="assets/icon/paiementDefault.svg" width="35"></div>

        <div class="numberStats"><p>{{ stat }}</p></div>
        <div class="descStats"><p>{{ descSats[i] }}</p></div>

      </div>
    </div>
  </div>

  <div class="dataLayout">
    <div class="headerData make-spaceBetween">
      <p>Listes des paiements</p>
      <div class="div-btn">
        <button (click)="export()" class="btn-basic" nz-button nzSize="large">
          <img src="assets/icon/export.svg" alt="export">
          Exporter
        </button>
<!--        <button (click)="addNewPaiment()" class="btn-priamry" nz-button nzType="primary" nzSize="large" nzShape="round">-->
<!--          <span nz-icon nzType="plus"></span>-->
<!--          Nouveau Paiement-->
<!--        </button>-->
      </div>
    </div>

    <nz-table #paiementTable *ngIf="paginatedData"
              [nzData]="paginatedData.content"
              [nzPageSize]="paginatedData.pageable.pageSize"
              [nzPageIndex]="paginatedData.pageable.pageNumber +1"
              [nzTotal]="paginatedData.totalElements"
              [nzFrontPagination]="false"
              (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <!--          <th>ID</th>-->
        <th>Date</th>
        <th>Patient</th>
        <th>Moyen</th>
        <th>Montant</th>
        <th>Prestation</th>
        <!--          <th>{{ 'état' | titlecase }} de la facturation</th>-->
        <th>Actions</th>
        <!-- Ajoutez d'autres colonnes si nécessaire -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paiement of paiementTable.data">
        <td>{{ formatDateString(paiement.dateCreation!) }}</td>
        <td *ngIf="paiement.prestation.dossierMedical?.patient">
          <span
            class="my-patient-id"> {{ paiement.prestation.dossierMedical?.patient?.id }}
          </span>{{ ' - ' + getPatientName(paiement.prestation.dossierMedical!) }}
        </td>
        <td>
            {{ paiement.moyenPayment }}
        </td>
        <td>
          {{ paiement.amount | currency: 'XOF': 'symbol': '1.':'fr-FR' }}
        </td>
        <td>
          {{ paiement.prestation.service?.nom }}
<!--          <div [ngClass]="{'displayString' : !paiement.personnel?.personne}">-->
<!--            {{ getPersonnelName(paiement.personnel)! | displayString }}-->
<!--          </div>-->
        </td>
        <td>
          <a [nzDropdownMenu]="nonPayeFacture" nzTrigger="click" nz-dropdown>
            <img alt="Arrow Down" src="assets/from_figma/actionsOnRow.svg">
          </a>
        </td>
        <nz-dropdown-menu #nonPayeFacture="nzDropdownMenu">
          <ul nz-menu>
<!--            <li (click)="facturer(paiement)" class="selectedLink" nz-menu-item>-->
<!--              <span>Facturer</span>-->
<!--            </li>-->
<!--            <li class="selectedLink" nz-menu-item>-->
<!--              <span>Détails</span>-->
<!--            </li>-->
          </ul>
        </nz-dropdown-menu>
      </tr>
      </tbody>

    </nz-table>
  </div>
</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li class="selectedLink" nz-menu-item>
      <span>Nouveau Patient</span>
    </li>
    <li class="selectedLink" nz-menu-item>
      <span>Nouveau RDV</span>
    </li>
    <li (click)="addNewPrestation()" class="selectedLink" nz-menu-item>
      <span>Nouvelle prestation</span>
    </li>
  </ul>
</nz-dropdown-menu>
