.mainbody
  display: flex
  flex-direction: column
  overflow-x: hidden

  .headerLayout
    display: flex
    justify-content: space-between

    .ant-input-affix-wrapper
      width: 40% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .headerActions
      display: flex
      justify-content: space-between
      width: 17rem

      .addActionHeader
        >span
          margin-right: .5rem

nz-select
  width: 90%

.ant-table-thead
  font-weight: 600

.div-btn
  width: auto
  padding: 2rem 0
  .btn-priamry
    float: right
    width: 12rem
    background: var(--Primaire, #266141)
    background-color: #266141 !important
    color: #ECF2FF !important
    height: 2.7rem
    text-align: center
    border-radius: 0.5rem

    &:hover
      background-color: white !important
      border: 0.5px solid #266141 !important
      color: #266141 !important

  .btn-basic
    margin-right: 10px
    width: 8rem
    color: var(--Primaire, #266141) !important
    background: white!important
    height: 2.7rem
    border-color: #266141 !important
    text-align: center
    border-radius: 0.5rem

    img
      margin: 0 8px 8px 0
.dash
  margin-block: 1.5rem
  max-height: 35rem
  display: flex
  justify-content: space-between

  .shart
    border: 0.8px solid #EAECF0
    background-color: white
    height: auto
    width: 75%
    p
      margin: 10px
      font-weight: 600
      font-size: 16px

    .make-spaceBetween
      .legende
        nz-badge
          margin-left: 10px


.trans-stats
  display: flex
  flex-direction: column
  justify-content: space-between


.ant-select
  width: 30%
  margin-right: 1.5rem
