<div *nzModalTitle class="make-spaceBetween">
  <p>{{ titleForm }}</p>
  <img (click)="handleCancel()" alt="Fermer le form" src="assets/from_figma/close_modal.svg">
</div>

<form [formGroup]="profilForm" class="login-form" nz-form>
  <p class="connect-phrase">{{ formDesc }}</p>

  <div class="make-spaceBetween">
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez renseigner le libellé!">
        <p class="input-label">Libelle<sup style="color: darkred">*</sup></p>
        <nz-input-group>
          <input formControlName="libelle" nz-input placeholder="Renseignez le libellé" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez renseigner le code!">
        <p class="input-label">Code<sup style="color: darkred">*</sup></p>
        <nz-input-group>
          <input formControlName="code" nz-input placeholder="Renseignez le code" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item [style.margin-bottom]="'.5rem'">
    <nz-form-control>
      <p class="input-label">Welcome Bookmark ( la page cible après connexion) </p>
      <nz-input-group>
        <input formControlName="welcomeBookmark" nz-input placeholder="Renseignez le lien de la page cible"
               type="text"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

    <nz-collapse [nzBordered]="false">
        <nz-collapse-panel nzHeader="Liste Actions">
            <div style="display: flex; justify-content: space-between">
                <nz-form-item [style.width.%]="75">
                    <nz-form-control nzErrorTip="Veuillez renseigner l'action!">
                        <nz-select (click)="filterActionList()" formControlName="actions" nzPlaceHolder="Choisir l'action"
                                   nzShowSearch>
                            <nz-option *ngFor="let action of actions"
                                       [nzLabel]="getHttpVerbLabel(action.httpVerb) + ' - '+ action.fonctionnalite.code"
                                       [nzValue]="action.code"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <button (click)="addAction()" *ngIf="!isSuperAdministrateur" class="basic-button my-primary-button" nz-button
                        nzShape="circle" nzSize="large" nzType="primary">
                    <i nz nz-icon nzType="plus-circle"></i>
                </button>
            </div>

            <nz-table #basicTable [nzData]="listActions" [nzShowPagination]="false">
                <thead>
                <tr>
                    <!--          <th>Actions</th>-->
                    <th>Code</th>
                    <th>Action</th>
                    <th>Fonction</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of basicTable.data">
                    <td>{{ row.code }}</td>
                    <td>{{ row.httpVerb }}</td>
                    <td>{{ row.fonctionnalite.code }}</td>
                    <td>
                        <button (click)="deleteAction(row)" nz-button nzDanger nzShape="circle" nzType="default">
                            <i nz-icon nzType="delete"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="basicTable.data.length === 0">
                    <td *ngIf="!isSuperAdministrateur" colspan="2"><em>Aucune Action</em></td>
                    <td *ngIf="isSuperAdministrateur" colspan="2"><em>Je détiens déjà tous les droits</em></td>
                    <td *ngIf="isAdministrateur" colspan="2"><em>Je détiens les droits du
                        module {{ 'sécurité' | uppercase }}</em></td>
                </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>

</form>

<div *nzModalFooter>
  <button (click)="handleCancel()" class="my-default-button basic-button" nz-button>Annuler</button>
  <button (click)="handleOK()"
          [disabled]="profilForm.invalid"
          [ngClass]="{'buttonIsDisabled': profilForm.invalid, 'basic-button' : true, 'my-primary-button': profilForm.valid}"
          [nzLoading]="isConfirmLoading"
          [nzTooltipTitle]="profilForm.invalid ? 'Veuillez bien remplir le formulaire': 'Enregistrer'" nz-button
          nz-tooltip>
    {{ btnText }}
  </button>
</div>

