.make-spaceBetween
  margin-block: 1rem -0.5rem

  > p:nth-child(1)
    color: #252525
    font-family: 'Lato', sans-serif
    font-size: 1.125rem
    font-weight: 700

  nz-form-item
    width: 45%
    height: 4.5rem


.container
  display: flex
  justify-content: space-around
  align-items: center

  .add-item
    text-decoration: none
    align-self: flex-end
    margin-bottom: .5rem
    color: darkgreen

.labelerreur
  color: darkred
