<div class="modal">
  <div *nzModalTitle class="make-spaceBetween">
    <p>{{titleForm}}</p>
    <img src="assets/from_figma/close_modal.svg" alt="Fermer le form" (click)="handleCancel()">
  </div>

  <div>
    <form nz-form [formGroup]="RvForm" class="login-form" >
      <p class="connect-phrase">{{formDesc}}</p>

      <div class="make-spaceBetween">
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez choisir le patient!" nzRequired>
            <p class="input-label">Patient</p>
            <nz-select [nzDropdownRender]="addNewPatientTemplate" formControlName="patient"
                       nzAllowClear nzPlaceHolder="Choissez un patient" nzShowSearch>
                <nz-option nzLabel="----"></nz-option>
                <nz-option
                  *ngFor="let patient of listOfPatient"
                  [nzLabel]="patient.personne.prenom+' '+patient.personne.nom+ ' - '+ patient.personne.telephone"
                  [nzValue]="patient.id"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
        <!--        <nz-form-item>
                  <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
                    <p class="input-label">Presence</p>
                    <nz-select nzShowSearch nzPlaceHolder="Choissez l'option" formControlName="presence">
                      <nz-option nzLabel="Confirmee" nzValue="Confirmee"></nz-option>
                      <nz-option nzLabel="Non confirmee" nzValue="Non Confirmee"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>-->
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Medecins</p>
            <nz-select nzShowSearch nzPlaceHolder="Choissez un medecin" formControlName="medecin">
              <nz-option nzLabel="----"></nz-option>
              <nz-option
                *ngFor="let medecin of listOfMedecin"
                [nzLabel]="medecin.personne.prenom +' '+ medecin.personne.nom" [nzValue]="medecin.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="make-spaceBetween">

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez choisir un service!" nzRequired>
            <p class="input-label">Service</p>
            <nz-select formControlName="service" nzAllowClear nzPlaceHolder="Choissez un service"
                       nzShowSearch>
              <nz-option nzLabel="----"></nz-option>
              <nz-option-group *ngFor="let pole of listOfPole" [nzLabel]="pole.nom">
                <nz-option
                  *ngFor="let service of getAllServicesByPole(pole)"
                  [nzLabel]="service.nom!" [nzValue]="service.id"></nz-option>
              </nz-option-group>

            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Duree</p>
            <nz-select formControlName="duree" nzAllowClear nzPlaceHolder="Choissez la duree" nzShowSearch>
              <nz-option nzLabel="15 minutes" nzValue="15"></nz-option>
              <nz-option nzLabel="30 minutes" nzValue="30"></nz-option>
              <nz-option nzLabel="45 minutes" nzValue="45"></nz-option>
              <nz-option nzLabel="60 minutes" nzValue="60"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="make-spaceBetween">
        <nz-form-item>
          <nz-form-control nzRequired>
            <p class="input-label">Date et Heure du RDV</p>
            <nz-date-picker [nzDisabledDate]="disabledDate" nzPlaceHolder="Choissez la date" nzShowTime
                            nzFormat="dd-MM-YYYY HH:mm:ss" formControlName="dateRv"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Notes & Remarques</p>
            <textarea
              nz-input
              formControlName="remarques"
              placeholder="les notes et remarques"
              [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

      </div>


    </form>
  </div>

  <div *nzModalFooter class="footer-btn">
    <button nz-button class="annuler" (click)="handleCancel()">Annuler</button>
    <button (click)="handleOk()"
            [disabled]="RvForm.invalid"
            [ngClass]="{'buttonIsDisabled': RvForm.invalid, 'basic-button' : true, 'my-primary-button': RvForm.valid}"
            [nzLoading]="isConfirmLoading"
            [nzTooltipTitle]="RvForm.invalid ? 'Veuillez bien remplir le formulaire': 'Enregistrer'" nz-button
            nz-tooltip>
      {{ btnText }}
    </button>
    <!--    <button nz-button (click)="handleOk()" [nzLoading]="isConfirmLoading">{{btnText}}</button>-->
  </div>
</div>


<ng-template #addSuffixUserIcon>
  <div class="mySuffixTemp">
    <img src="assets/from_figma/import_logo.svg" alt="Importer" class="svg-icon">
    <span>Importer</span>
  </div>
</ng-template>
<ng-template #addNewPatientTemplate>
  <nz-divider></nz-divider>
  <div class="container" *ngIf="hasAction('CREER_PATIENT')">
    <a class="add-item" (click)="NewPatient()">
      <i nz-icon nzType="plus"></i>
      Ajouter nouveau patient
    </a>
  </div>
</ng-template>
