<div class="mainbody">
  <div *nzModalTitle class="make-spaceBetween">
    <p>{{ titleForm }}</p>
    <img (click)="handleCancel()" alt="Fermer le form" src="assets/from_figma/close_modal.svg">
  </div>
  <!-- Header layout-->
  <div class="patient-form">
    <form [formGroup]="fonctionnaliteForm" (submit)="enregistrerFonctionnalite()">

      <div class="card-information">
        <div class="formheader">
          <h3 class="title">Informations sur la fonctionnalité</h3>
        </div>

        <div class="form">
          <div class="phone-date">
            <div class="phone">
              <label class="label" for="code">Code<sup>*</sup></label>
              <input class="input" type="text" id="code" name="code" formControlName="code" required>
            </div>
            <div class="date">
              <label class="label" for="description">Description<sup>*</sup></label>
              <input type="text" class="input" formControlName="description" id="description" name="description" required>
            </div>
          </div>

          <div class="blood-address">
            <div class="blood">
              <label class="label" for="module">Module<sup>*</sup></label>
              <select class="input" formControlName="module" id="module" name="module">
                <option *ngFor="let module of modules" [value]="module.code">{{ module.description }}</option>

              </select>
            </div>
            <div class="address">
              <label class="label" for="sequence">Séquence</label>
              <input class="input" type="text" id="sequence" name="sequence" formControlName="sequence" >
            </div>
          </div>
          <div class="form">
            <div class="phone-date">
              <div class="phone">
                <label class="label" for="bookmark">Bookmark</label>
                <input class="input" type="text" id="bookmark" name="bookmark" formControlName="bookmark">
              </div>
              <div class="date">
                <label class="label" for="image">Image</label>
                <input type="text" class="input" formControlName="image" id="image" name="image">
              </div>
            </div>

        </div>
      </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button class="my-default-button basic-button" (click)="handleCancel()">Annuler</button>
    <button (click)="enregistrerFonctionnalite()" [nzLoading]="isConfirmLoading"
            [ngClass]="{'buttonIsDisabled': fonctionnaliteForm.invalid, 'basic-button' : true, 'my-primary-button': fonctionnaliteForm.valid}"
            [nzTooltipTitle]="fonctionnaliteForm.invalid ? 'Veuillez bien remplir le formulaire': 'Enregistrer'" nz-button
            nz-tooltip>
      Enregistrer
    </button>
  </div>



</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>


