<div *nzModalTitle class="make-spaceBetween">
  <p>{{ titleForm + ' - ID ' }}
    <ng-container *ngIf="data">{{ data.id }}</ng-container>
  </p>
  <img (click)="handleCancel()" alt="Fermer le form" src="assets/from_figma/close_modal.svg">
</div>
<div>
  <div class="make-spaceBetween add-some-margin">
    <div class="connect-phrase"> Les informations complètes sur la prestation</div>
    <div [ngStyle]="{maxWidth: '12rem', borderRadius: '4px', padding: '.5rem 1rem',
         backgroundColor: getStatusInfo().bgColor, color: getStatusInfo().color}"
         class="row-status">
      <span [ngStyle]="{width: '3px', height: '3px', borderRadius: '12px', marginRight: '.2rem',
      color: getStatusInfo().color}">◉</span>
      {{ getStatusInfo().text| titlecase }}
    </div>
  </div>

  <div class="details-body">
    <div class="make-spaceBetween">
      <div class="left-side">
        <div class="data-description"> Nom Complet du patient</div>
        <div class="data-value">
          {{ utils.getPrenom(patientPers) | titlecase }}
          {{ utils.getNom(patientPers) | uppercase }}
        </div>
      </div>
      <div class="right-side">
        <div class="data-description">Num. Tél. du patient</div>
        <div class="data-value">{{ patientPers.telephone | prettyPhoneNumber }}</div>
      </div>
    </div>
    <div class="make-spaceBetween">
      <div class="left-side">
        <div class="data-description">Adresse Physique du patient</div>
        <div class="data-value">{{ patientPers.adresse }}</div>
      </div>
      <div class="right-side">
        <div class="data-description">Adresse email du patient</div>
        <div class="data-value">{{ patientPers.email }}</div>
      </div>
    </div>
    <div class="make-spaceBetween">
      <div class="left-side">
        <div class="data-description">Nom complet du médecin</div>
        <div class="data-value">
          {{ utils.getPrenom(medecinPers) | titlecase }}
          {{ utils.getNom(medecinPers) | uppercase }}
        </div>
      </div>
      <div class="right-side">
        <div class="data-description">Service - pôle</div>
        <div class="data-value">
          {{ data.service?.nom }}
          <span class="service-pole">{{ ' - (' + data.service?.pole?.nom + ')' }}
          </span>
        </div>
      </div>
    </div>
    <div class="make-spaceBetween">
      <div class="left-side">
        <div class="data-description">Créé par</div>
        <div *ngIf="createurPers else Introuvable" class="data-value">
          {{ utils.getPrenom(createurPers) | titlecase }}
          {{ utils.getNom(createurPers) | uppercase }}
        </div>
      </div>
      <div class="right-side">
        <div class="data-description">Créé le</div>
        <div class="data-value">
          {{ data.dateCreation | date: "EEEE, 'le' dd MMMM yyyy 'à' hh:mm:ss" }}
        </div>
      </div>
    </div>

    <div class="make-spaceBetween">
      <div class="left-side">
        <div class="data-description">Montant de la prestation</div>
        <div class="data-value">{{ data.montant | currency: 'XOF': 'symbol': '1.':'fr-FR' }}</div>
      </div>
      <!--      <div class="right-side" *ngIf="isPaid()">
              <div class="data-description">Montant payé par le patient</div>
              <div class="data-value">{{ patientPers.email }}</div>
            </div>-->
    </div>


    <div class="make-spaceBetween">
      <!--      <div class="left-side">
              <div class="data-description">Notes & Remarques</div>
              <div class="long-text-input">{{ getRemarques() }}</div>
            </div>-->
      <div *ngIf="isCanceled()" class="right-side">
        <div class="data-description">Motif d'annulation de la prestation</div>
        <div class="long-text-input">{{ data.motif }}</div>
      </div>
    </div>

  </div>

</div>

<ng-template #Introuvable>
  <div class="introuvable">
    Non renseigné
  </div>
</ng-template>
