<div class="mainbody">
    <div class="headerLayout">
      <nz-input-group [nzPrefix]="suffixIconSearch">
        <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
      </nz-input-group>

      <div class="headerActions">
        <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
        <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
        <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
        <div class="addActionHeader">
          <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
          <span>Ajouter</span>
          <a [nzDropdownMenu]="menu" nz-dropdown>
            <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
          </a>
        </div>
      </div>
    </div>

    <div class="dataLayout">
      <div class="headerData make-spaceBetween">
        <p>Listes des patients</p>
        <button (click)="addNewPatient()" class="my-primary-button basic-button" nz-button nzSize="large">
          <span nz-icon nzType="plus"></span>
          Nouveau Patient
        </button>
      </div>
      <div class="filterpatients">
        <div class="personal-infos">
          <nz-select [(ngModel)]="patientPers" nzAllowClear nzPlaceHolder="Rechercher par prénom, nom ou numéro tel. "
                     nzShowSearch>
            <nz-option nzLabel="----"></nz-option>
            <nz-option
              *ngFor="let patient of patients"
              [nzLabel]="getPatienInfos(patient)"
              [nzValue]="patient?.personne">

            </nz-option>
            <!--          <ng-template #customizeOption let-selected>
                        {{ selected?.prenom + ' ' + selected?.nom }}
                        <span class="phone-display">- {{ selected?.telephone }}</span>
                      </ng-template>-->
          </nz-select>
        </div>
        <div class="descrip-date">Date d'inscription</div>
        <div class="date-filter">
          <nz-range-picker [(ngModel)]="choosenDate" nzFormat="dd/MM/YYYY"></nz-range-picker>
        </div>
        <div class="descrip-age">Tranche d'Age (en an)</div>
        <div class="age-filter">
          <!--          <nz-slider [(ngModel)]="ageRange" [nzMarks]="marks" [nzMax]="130" [nzMin]="0" nzIncluded nzRange></nz-slider>-->
          <nz-input-number (ngModelChange)="handleExtremum('min', $event)" [(ngModel)]="ageMin"
                           [nzInputMode]="'numeric'"
                           [nzMax]="ageMax-1" [nzMin]="0" [nzStep]="1" nzPlaceHolder="Minimum"></nz-input-number>
          <nz-input-number (ngModelChange)="handleExtremum('max', $event)" [(ngModel)]="ageMax"
                           [nzInputMode]="'numeric'"
                           [nzMin]="ageMin+1" [nzStep]="1" nzPlaceHolder="Maximum"></nz-input-number>
        </div>
        <div class="button-action">
          <button (click)="filterData()" class="filter-form-button" nz-button>Filtrer</button>
        </div>
      </div>

      <!--      <nz-table #patientsTable-->
      <!--                [nzData]="patients"-->
      <!--                [nzPageSize]="10"-->
      <!--      >-->
      <nz-table #patientsTable (nzQueryParams)="onQueryParamsChange($event)"
                *ngIf="paginatedData"
                [nzData]="paginatedData.content"
                [nzFrontPagination]="false"
                [nzPageIndex]="paginatedData.pageable.pageNumber +1"
                [nzPageSize]="paginatedData.pageable.pageSize"
                [nzTotal]="paginatedData.totalElements"
      >
        <thead>
          <tr>
            <th>Nom du patient</th>
            <th>Telephone</th>
            <th>Email</th>
            <!--            <th>Derniere visite</th>-->
            <th>Age</th>
            <th>Adresse</th>
            <th>Actions</th>
            <!-- Ajoutez d'autres colonnes si nécessaire -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patientsTable.data">
            <!--            <td>{{ patient.personne.id }}</td>-->
            <td>{{ patient.personne.prenom | titlecase }} {{ patient.personne.nom | uppercase }}</td>
            <td>
              <div [ngClass]="{'displayString' : !patient.personne.telephone}">
                {{ (patient.personne.telephone! | prettyPhoneNumber) | displayString }}
              </div>
            </td>
            <td>
              <div [ngClass]="{'displayString' : !patient.personne.email}">
                {{ patient.personne.email! | displayString }}
              </div>
            </td>

            <!--            <td> {{ getAgeDescription(patient.personne)  }}</td>-->

            <td>
              <div [ngClass]="{'displayString' : !patient.personne.datenaissance}">
                {{ (patient.personne.datenaissance| formatAge)| displayString }}
              </div>
            </td>

            <td>
              <div [ngClass]="{'displayString' : !patient.personne.adresse}">
                {{ patient.personne.adresse! | displayString }}
              </div>
            </td>
            <td class="space-evenly some-min-width-12">
              <img alt="Voir détails" nz-tooltip nzTooltipTitle="Voir détails Dossier Médical" src="assets/from_figma/see-details-action.svg"
                   width="17">
              <img (click)="updatePatient(patient.id!)" alt="Modifier" nz-tooltip
                   nzTooltipTitle="Modifier" src="assets/from_figma/edit-action.svg" width="17">
              <img alt="supprimer" nz-tooltip nzTooltipTitle="Supprimer" src="assets/icon/trash.svg" width="20">
              <img (click)="addNewPrestation(patient)" alt="Facturer"
                   nz-tooltip nzTooltipTitle="Nouvelle Prestation" src="assets/from_figma/new-prestation.svg" width="20">
              <img (click)="addNewRDV(patient)" alt="Facturer"
                   nz-tooltip nzTooltipTitle="Nouveau Rendez-vous" src="assets/from_figma/new-rdv.svg" width="20">

            </td>
            <!--<td>
              <a [nzDropdownMenu]="nonPayeFacture" nz-dropdown nzPlacement="bottomCenter" nzTrigger="click">
                <img alt="Arrow Down" src="assets/from_figma/actionsOnRow.svg">
              </a>
            </td>-->
            <!--        <td>{{ prestation.diagnostic }}</td>-->
            <!--        <td>{{ prestation.conclusion }}</td>-->
            <!--
                        <nz-dropdown-menu #nonPayeFacture="nzDropdownMenu">
                          <ul nz-menu>

                            <li (click)="redirectToDossierMedical()" class="selectedLink" nz-menu-item>
                              <span>Détails</span>
                            </li>
                            <li (click)="updatePatient(patient.id!)" class="selectedLink" nz-menu-item>
                              <span>Modifier</span>
                            </li>
                            <li (click)="addNewPrestation(patient)" class="selectedLink" nz-menu-item>
                              <span>Nouvelle prestation</span>
                            </li>
                            <li (click)="addNewRDV(patient)" class="selectedLink" nz-menu-item>
                              <span>Nouveau rendez-vous</span>
                            </li>

                          </ul>
                        </nz-dropdown-menu>
            -->

          </tr>
        </tbody>

      </nz-table>

    </div>
  <div class="chart-overview">
    <div class="card">
      <div class="card-title">
        <h3 class="title">Flux hebdomadaire des patients</h3>
        <div class="make-spaceBetween">
          <div class="legends">
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#266141" r="5"/>
              </svg>
              <span>Patients inscrits</span>
            </div>
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#84BE38" r="5"/>
              </svg>
              <span>Patients venus</span>
            </div>

          </div>
          <nz-select
            (ngModelChange)="OnWeekChange($event)"
            [(ngModel)]="isLastWeek"
          >
            <nz-option [nzValue]="false" nzLabel="Semaine en cours"></nz-option>
            <nz-option [nzValue]="true" nzLabel="Semaine dernière"></nz-option>
          </nz-select>
        </div>

      </div>
      <div class="chart">
        <!-- Creer un diagramme en bar  -->
        <div>
          <canvas id="patientsStats">{{ chartPatient }}</canvas>

        </div>
      </div>
    </div>
    <div class="card-right">
      <div class="card-title">
        <h3 class="title">Données relatives aux patients</h3>
        <div class="make-spaceBetween">
          <div class="legends">
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#266141" r="5"/>
              </svg>
              <span>Hommes</span>
            </div>
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#84BE38" r="5"/>
              </svg>
              <span>Femmes</span>
            </div>
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#FDCD51" r="5"/>
              </svg>
              <span>Garçons</span>
            </div>
            <div class="legend">
              <svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5.5" fill="#ffebbe" r="5"/>
              </svg>
              <span>Filles</span>
            </div>


          </div>
        </div>
        <div class="chart">
          <canvas height="350" id="genrePatient" style="margin: 15px" width="350">{{ chartGenrePatient }}</canvas>
        </div>
      </div>

    </div>
  </div>

</div>

  <ng-template #suffixIconSearch>
    <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
  </ng-template>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau Patient</span>
      </li>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau RDV</span>
      </li>

    </ul>
  </nz-dropdown-menu>

