<div class="modal">
  <div *nzModalTitle class="make-spaceBetween">
    <p>{{titleForm}}</p>
    <img src="assets/from_figma/close_modal.svg" alt="Fermer le form" (click)="handleCancel()">
  </div>

  <div>
    <form nz-form [formGroup]="RvForm" class="login-form" >
      <p class="connect-phrase">{{formDesc}}</p>

      <div class="make-spaceBetween">
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Nom Patient</p>
            <input nz-input placeholder="Nom patient" type="text" formControlName="patient" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Telephone</p>
            <input nz-input placeholder="Telephone" type="number" formControlName="number" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="make-spaceBetween">
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Services</p>
            <nz-select nzShowSearch nzPlaceHolder="Choissez un service" formControlName="service">
              <nz-option nzLabel="----"></nz-option>
              <nz-option
                *ngFor="let service of listOfServices"
                [nzLabel]="service.nom" [nzValue]="service"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Medecins</p>
            <nz-select nzShowSearch nzPlaceHolder="Choissez un medecin" formControlName="medecin">
              <nz-option nzLabel="----"></nz-option>
              <nz-option
                *ngFor="let medecin of listOfMedecin"
                [nzLabel]="medecin.personne.nom" [nzValue]="medecin"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="make-spaceBetween">
        <nz-form-item>
          <nz-form-control>
            <p class="input-label">Date et Heure du RDV</p>
            <nz-date-picker nzPlaceHolder="Choissez la date" nzShowTime
                            nzFormat="dd-MM-YYYY HH:mm:ss" formControlName="date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Presence</p>
            <nz-select nzShowSearch nzPlaceHolder="Choissez l'option" formControlName="presence">
              <nz-option nzLabel="Confirmee" nzValue="Confirmee"></nz-option>
              <nz-option nzLabel="Non confirmee" nzValue="Non Confirmee"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="make-spaceBetween">

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Note</p>
            <textarea rows="3" formControlName="note"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
            <p class="input-label">Paiement</p>
            <nz-badge nzStatus="warning" nzText="Non facture"></nz-badge>
          </nz-form-control>
        </nz-form-item>

      </div>

    </form>
  </div>

  <div *nzModalFooter class="footer-btn">
    <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">{{btnText}}</button>
  </div>
</div>


<ng-template #addSuffixUserIcon>
  <div class="mySuffixTemp">
    <img src="assets/from_figma/import_logo.svg" alt="Importer" class="svg-icon">
    <span>Importer</span>
  </div>

</ng-template>
