<div class="mainbody">
  <div class="headerLayout">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
    </nz-input-group>
    <div class="headerActions">
      <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
      <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
      <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
      <div class="addActionHeader">
        <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
        <span>Ajouter</span>
        <a [nzDropdownMenu]="menu" nz-dropdown>
          <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
        </a>
      </div>
    </div>
  </div>
  <div class="statsLayout">
    <div *ngFor="let stat of numberStats; let i = index" class="myCardStats width22">
      <div class="logoStats"><img [src]="'assets/from_figma/stats-icon'+svgList[i]+'.svg'" alt="stats" width="35"></div>

      <div class="numberStats"><p [ngStyle]="{color: colorStats[i]}">{{ stat }}</p></div>
      <div class="descStats"><p [ngStyle]="{color: colorStats[i]}">{{ descSats[i] }}</p></div>

    </div>
  </div>

  <div class="dataLayout">
    <div class="headerData make-spaceBetween">
      <p>Listes des prestations</p>
      <button *ngIf="hasAction('CREER_PRESTATION')" (click)="addNewPrestation()" class="basic-button my-primary-button" nz-button nzSize="large">
        <span nz-icon nzType="plus"></span>
        Nouvelle Prestation
      </button>
    </div>
    <div class="controllers">
      <div class="searchInput">
        <nz-select nzAllowClear nzShowSearch nzPlaceHolder="Choissez un patient" [(ngModel)]="patientPers">
          <nz-option nzLabel="----"></nz-option>
          <nz-option
            *ngFor="let dossier of listOfDossierMedical"
            [nzLabel]="getPatientName(dossier) +' - '+ dossier.patient?.personne?.telephone"
            [nzValue]="dossier.patient?.personne">

          </nz-option>
          <!--          <ng-template #customizeOption let-selected>
                      {{ selected?.prenom + ' ' + selected?.nom }}
                      <span class="phone-display">- {{ selected?.telephone }}</span>
                    </ng-template>-->
        </nz-select>
      </div>
      <div class="dateDesc"><p>Date</p></div>
      <div class="searchByDate">
        <nz-range-picker nzFormat="dd/MM/YYYY" [(ngModel)]="choosenDate"></nz-range-picker>
      </div>
      <div class="serviceDesc"><p>Service</p></div>
      <div class="searchByService">
        <nz-select [(ngModel)]="serviceId" nzPlaceHolder="Choissez un service"
                   nzShowSearch nzAllowClear>
          <nz-option nzLabel="----"></nz-option>
          <nz-option-group *ngFor="let pole of listOfPole" [nzLabel]="pole.nom">
            <nz-option
              *ngFor="let service of getAllServicesByPole(pole)"
              [nzLabel]="service.nom!" [nzValue]="service.id"></nz-option>
          </nz-option-group>
        </nz-select>
      </div>
      <div class="filterButton">
        <button class="filter-form-button" nz-button (click)="filterData()">Filtrer</button>
      </div>
    </div>
    <nz-table #prestationsTable *ngIf="paginatedData"
              [nzData]="paginatedData.content"
              [nzPageSize]="paginatedData.pageable.pageSize"
              [nzPageIndex]="paginatedData.pageable.pageNumber +1"
              [nzTotal]="paginatedData.totalElements"
              [nzFrontPagination]="false"
              (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <!--          <th>ID</th>-->
          <th>Date</th>
          <th>Patient</th>
          <th>Service</th>
          <!--          <th>Diagnostic</th>-->
          <th>Montant</th>
          <th>Statut</th>
          <!--          <th>Médecin</th>-->
          <!--          <th>{{ 'état' | titlecase }} de la facturation</th>-->
          <th>Actions</th>
          <!-- Ajoutez d'autres colonnes si nécessaire -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestation of prestationsTable.data">
          <!--          <td><strong>{{ getPatientID(prestation) }}</strong></td>-->
          <td>{{ prestation.dateCreation! | date: "EEE 'le' dd MMM yyyy 'à' hh:mm:ss" }}</td>
          <td><span
            class="my-patiet-id"> {{ prestation.dossierMedical?.patient?.id }}</span>{{ ' - ' + getPatientName(prestation.dossierMedical!) }}
          </td>
          <td class="max-width-20">
            {{ prestation.service?.nom }}
            <span class="service-pole">{{ ' - (' + prestation.service?.pole?.nom + ')' }}</span>
          </td>
          <!--          <td>
                      <div [ngClass]="{'displayString' : !prestation.diagnostic}">
                        {{ prestation.diagnostic! | displayString }}
                      </div>
                    </td>-->
          <td>
            {{ prestation.montant | currency: 'XOF': 'symbol': '1.':'fr-FR' }}
          </td>
          <!--          <td>
                      <div [ngClass]="{'displayString' : !prestation.personnel?.personne}">
                        {{ getPersonnelName(prestation.personnel)! | displayString }}
                      </div>
                    </td>-->
          <!--
          <td>
            <nz-badge nzStatus="error" nzText="Non facturé"></nz-badge>
          </td>
          -->
          <!--<td>
            <a [nzDropdownMenu]="nonPayeFacture" nzTrigger="click" nz-dropdown>
              <img alt="Arrow Down" src="assets/from_figma/actionsOnRow.svg">
            </a>
          </td>-->
          <td class="width-5">
            <!--          <nz-badge nzStatus="processing" nzText="Non Confirmee"></nz-badge>-->
            <nz-badge [nzColor]="getStatusInfo(prestation.prestationStatut!).color">
            <span
              [ngStyle]="{'color': getStatusInfo(prestation.prestationStatut!).color}">{{ getStatusInfo(prestation.prestationStatut!).text |titlecase }}</span>
            </nz-badge>
          </td>
          <td class="icon-table some-min-width-12">
            <img *ngIf="hasAction('VOIR-DETAILS_PRESTATION')" (click)="seePrestationDetails(prestation)" alt="Voir détails" nz-tooltip nzTooltipTitle="Voir détails"
                 src="assets/from_figma/see-details-action.svg"
                 width="17">
            <img *ngIf="hasAction('MODIFIER_PRESTATION')" (click)="updatePrestation(prestation)" alt="Modifier" nz-tooltip
                 [nzTooltipTitle]="isNotPaid(prestation)? 'Modifier': 'Modification non autorisée'"
                 [src]="'assets/from_figma/edit-action'+(isNotPaid(prestation)?'': '_blocked')+'.svg'"
                 [style.cursor]="isNotPaid(prestation)? 'pointer' : 'not-allowed'" width="17">
            <!--            <img *ngIf="!isPaid(prestation)" alt="Confirmer ou pas" (click)="cancelPrestation(prestation)"
                             nz-tooltip [nzTooltipTitle]="getContext(prestation).message"
                             [src]="'assets/from_figma/'+ getContext(prestation).svgName" width="17"> -->
            <img *ngIf="hasAction('RESTAURER_PRESTATION')" (click)="cancelPrestation(prestation)"
                 [nzTooltipTitle]="isCanceled(prestation)? 'Restaurer': 'Pas autorisé'"
                 [src]="'assets/from_figma/confirm-yes'+(isCanceled(prestation)?'': '_blocked')+'.svg'" [style.cursor]="isCanceled(prestation)? 'pointer' : 'not-allowed'"
                 alt="Confirmer"
                 nz-tooltip width="17">
            <img *ngIf="hasAction('ANNULER_PRESTATION')" (click)="cancelPrestation(prestation)" [nzTooltipTitle]="isNotPaid(prestation)? 'Annuler': 'Pas autorisé'"
                 [src]="'assets/from_figma/confirm-no'+(isNotPaid(prestation)?'': '_blocked')+'.svg'" [style.cursor]="isNotPaid(prestation)? 'pointer' : 'not-allowed'"
                 alt="Confirmer ou pas"
                 nz-tooltip width="17">
            <img (click)="facturer(prestation)" *ngIf="hasAction('FACTURER_PRESTATION')"
                 [nzTooltipTitle]="isNotPaid(prestation)? 'Facturer': 'Pas autorisé'"
                 [src]="'assets/from_figma/facturer'+(isNotPaid(prestation)?'': '_blocked')+'.svg'"
                 [style.cursor]="!isPaid(prestation)? 'pointer' : 'not-allowed'" alt="Facturer"
                 nz-tooltip width="17">

          </td>

          <nz-dropdown-menu #nonPayeFacture="nzDropdownMenu">
            <ul nz-menu>
              <li (click)="facturer(prestation)" *ngIf="hasAction('FACTURER_PRESTATION')" class="selectedLink"
                  nz-menu-item>
                <span>Facturer</span>
              </li>
              <li *ngIf="hasAction('VOIR-DETAILS_PRESTATION')" class="selectedLink" nz-menu-item>
                <span>Détails</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </tr>
      </tbody>

    </nz-table>
    <!--<nz-pagination class="make-spaceBetween" [nzPageIndex]="1" [nzTotal]="50" [nzItemRender]="renderItemTemplate"></nz-pagination>
    <ng-template #renderItemTemplate let-type let-page="page">
      <ng-container [ngSwitch]="type">
        <a *ngSwitchCase="'page'">{{ page }}</a>
        <a class="my_left_page" *ngSwitchCase="'prev'"><img src="assets/from_figma/arrow-left.svg" alt="Previous"> Previous</a>
        <a class="my_right_page" *ngSwitchCase="'next'">Next  <img src="assets/from_figma/arrow-right.svg" alt="Next"></a>
        <a *ngSwitchCase="'prev_5'"><<</a>
        <a *ngSwitchCase="'next_5'">>></a>
      </ng-container>
    </ng-template>-->
  </div>

  <div class="for-graphs make-spaceBetween">
    <div class="for-bar-graph for-a-card">
      <div class="title">
        Évolution hebdomadaire des prestation
      </div>
      <div class="make-spaceBetween">
        <div class="legende">
          <nz-badge nzColor="#5D6273"></nz-badge>
          <span [style.color]="'#5D6273'">{{ 'pas payé' | titlecase }}</span>
          <nz-badge nzColor="#20AC2E"></nz-badge>
          <span [style.color]="'#20AC2E'">Payé</span>
          <nz-badge nzColor="#A81735"></nz-badge>
          <span [style.color]="'#A81735'">Annulé</span>
        </div>
        <nz-select
          (ngModelChange)="OnWeekChange($event)"
          [(ngModel)]="isLastWeek"
        >
          <nz-option [nzValue]="false" nzLabel="Semaine en cours"></nz-option>
          <nz-option [nzValue]="true" nzLabel="Semaine dernière"></nz-option>
        </nz-select>
      </div>

      <div class="graph-bar-chart">
        <canvas id="weeklyPrestationStats">{{ barGraph }}</canvas>
      </div>
    </div>
    <div class="for-disc-graph for-a-card">
      <div class="title">
        Répartition des statuts des prestations
      </div>
      <div class="legende">
        <nz-badge nzColor="#5D6273"></nz-badge>
        <span [style.color]="'#5D6273'">{{ 'pas payer' | titlecase }}</span>
        <nz-badge nzColor="#20AC2E"></nz-badge>
        <span [style.color]="'#20AC2E'">Payé</span>
        <nz-badge nzColor="#A81735"></nz-badge>
        <span [style.color]="'#A81735'">Annulé</span>
      </div>

      <div class="graph-disc-chart">
        <canvas id="discPrestationStatusGraph">{{ doughnutGraph }}</canvas>
      </div>

    </div>

  </div>


</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li *ngIf="hasAction('CREER_PATIENT')" class="selectedLink" nz-menu-item>
      <span>Nouveau Patient</span>
    </li>
    <li *ngIf="hasAction('CREER_RENDEZVOUS')" class="selectedLink" nz-menu-item>
      <span>Nouveau RDV</span>
    </li>
    <li (click)="addNewPrestation()" *ngIf="hasAction('CREER_PRESTATION')" class="selectedLink" nz-menu-item>
      <span>Nouvelle prestation</span>
    </li>
  </ul>
</nz-dropdown-menu>
