<div class="mainbody">
    <!-- Header layout-->
    <div class="headerLayout">
      <nz-input-group [nzPrefix]="suffixIconSearch">
        <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
      </nz-input-group>
      <div class="headerActions">
        <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
        <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
        <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
        <div class="addActionHeader">
          <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
          <span>Ajouter</span>
          <a [nzDropdownMenu]="menu" nz-dropdown>
            <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
          </a>
        </div>
      </div>
    </div>
  
    <!-- Card for form-->
    <div class="card-information">
        <div class="formheader">
          <h3 class="title">Informations sur le patient</h3>
        </div>
        <div class="form">
          <form (submit)="enregistrerPatient()">
            <div class="gender">
              <label class="label">Genre</label>
              <div>
                <input class="check" type="checkbox" id="male" name="genre" value="Homme" formControlName="genre">
                <label for="male">Homme</label>
              </div>
              <div>
                <input class="check" type="checkbox" id="female" name="genre" value="Femme" formControlName="genre">
                <label for="female">Femme</label>
              </div>
              <div>
                <input class="check" type="checkbox" id="unspecified" name="genre" value="Non précisé" formControlName="genre">
                <label for="unspecified">Non précisé</label>
              </div>
            </div>
      
            <div class="name">
              <div class="prenom">
                <label class="label" for="prenom">Prénom</label>
                <input class="input" type="text" id="prenom" name="prenom" formControlName="prenom" required>
              </div>
              <div class="nom">
                <label class="label" for="nom">Nom</label>
                <input class="input" type="text" id="nom" name="nom" formControlName="nom" required>
              </div>
            </div>
      
            <div class="phone-date">
              <div class="phone">
                <label class="label" for="phone">Téléphone</label>
                <input class="input" type="text" id="phone" name="phone" formControlName="telephone" required>
              </div>
              <div class="date">
                <label class="label" for="date">Date de naissance</label>
                <input class="input" type="date" id="date" name="date" formControlName="dateNaissance" required>
              </div>
            </div>
      
            <div class="blood-address">
              <div class="blood">
                <label class="label" for="blood">Groupe sanguin</label>
                <select class="input" name="blood" id="blood" formControlName="groupeSanguin" required>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                </select>
              </div>
              <div class="address">
                <label class="label" for="address">Adresse</label>
                <input class="input" type="text" id="address" name="address" formControlName="adresse" required>
              </div>
            </div>
      
            <div class="medecin-fiche">
              <div class="medecin">
                <label class="label" for="medecin">Médecin traitant</label>
                <input class="input" type="text" id="medecin" name="medecin" formControlName="medecinTraitant" required>
              </div>
              <div class="fiche">
                <label class="label" for="fiche">Fiche accessible pour</label>
                <select class="input" name="fiche" id="fiche" formControlName="ficheAccessible" required>
                  <option value="Tout le monde">Tout le monde</option>
                  <option value="Moi">Moi</option>
                  <option value="Moi et mon médecin">Moi et mon médecin</option>
                </select>
              </div>
            </div>
      
            <div class="button">
              <button class="btn" type="submit">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
      
  </div>
  
  <ng-template #suffixIconSearch>
    <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
  </ng-template>
  
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau Patient</span>
      </li>
      <li class="selectedLink" nz-menu-item>
        <span>Nouveau RDV</span>
      </li>
      <li (click)="null" class="selectedLink" nz-menu-item>
        <span>Nouvelle prestation</span>
      </li>
    </ul>
  </nz-dropdown-menu>
    
  <nz-dropdown-menu #nonPayeFacture="nzDropdownMenu">
    <ul nz-menu>
      <li class="selectedLink" nz-menu-item>
        <span>Facturer la prestation</span>
      </li>
      <li class="selectedLink" nz-menu-item>
        <span>Voir le contenu de la prestation</span>
      </li>
    </ul>
  </nz-dropdown-menu>
  