<!-- authentification.component.html -->

<div class="login-body">
  <img src="assets/from_figma/Login_Background.svg" alt="Login-Bg" loading="lazy" id="img-bg">

  <div class="center-container">
    <img src="assets/from_figma/Touchmed_Logo.svg" alt="Logo TouchMed" class="bg-img">
    <form nz-form [formGroup]="loginForm" class="login-form" >
      <p class="connect-phrase">Connectez vous à votre compte</p>
      <nz-form-item>
        <nz-form-control nzErrorTip="Veuillez renseigner votre identifiant!">
          <p class="input-label">Identifiant</p>
          <nz-input-group [nzPrefix]="addPrefixUserIcon">
            <input type="text" nz-input formControlName="username" placeholder="Renseignez votre identifiant" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Veuillez renseigner votre mot de passe!">
          <p class="input-label">Mot de passe</p>
          <nz-input-group [nzPrefix]="addPrefixLockIcon" [nzSuffix]="suffixVisibility">
            <input [type]="showPassword? 'text':'password'" nz-input formControlName="password" placeholder="Renseignez votre mot de passe" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-col class="login-form-margin">
        <!--<div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>-->
        <a class="login-form-forgot">Mot de passe oublié ? </a>
        <button (click)="onLogin()" [disabled]="loginForm.invalid" nz-button class="login-form-button">Connexion</button>
      </div>

    </form>
  </div>
</div>

<ng-template #addPrefixUserIcon>
  <img src="assets/from_figma/Identifiant.svg" alt="Identifiant" class="svg-icon">
</ng-template>

<ng-template #addPrefixLockIcon>
  <img src="assets/from_figma/Lock.svg" alt="Identifiant" class="svg-icon">
</ng-template>
<ng-template #suffixVisibility>
  <img (click)=" showPassword=!showPassword; $event.stopPropagation() " width="20"
       [src]="'assets/from_figma/'+ (showPassword ? 'visibility.svg': 'visibility_off.svg')"
       alt="Voir ou pas"
  >
</ng-template>

<!--
    <div class="container-fluid">
    <header class="header">
      &lt;!&ndash; Logo Section &ndash;&gt;
      <div class="logo-section">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/fef9c134fd917fa28447b947e1cb2496eade18a46dd8656dab7c3217c9e66910?apiKey=b65b7a4d43fb4d99813fe35a0ff64600&"
          class="logo"
          alt="Logo"
        />
      </div>
      <div class="app-title">CONNEXION</div>

      &lt;!&ndash; Form Section &ndash;&gt;
      <form class="login-form">
        <div class="form-group">
          <label for="identifiant" class="label">Identifiant</label>
          <div class="input-container">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/c94136453b6fc3eb3844ed2938d20605831b633bca0febbb0845e5d61f738931?apiKey=b65b7a4d43fb4d99813fe35a0ff64600&"
              class="input-icon"
              alt="Identifiant Icon"
            />
            <input
              type="text"
              id="identifiant"
              placeholder="Saisissez votre identifiant"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="label">Mot de passe</label>
          <div class="input-container">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/388ffb3f74dfbc204bd46f9cba0170eeda687a869c7c7988dc1d8f5d40849c81?apiKey=b65b7a4d43fb4d99813fe35a0ff64600&"
              class="input-icon"
              alt="Password Icon"
            />
            <input
              type="password"
              id="password"
              placeholder="Saisissez votre mot de passe"
            />
          </div>
        </div>

        <button class="login-button" type="submit" (click)="handleClick()">
          Connexion
        </button>
      </form>
    </header>
    <div class="cercle-container">
        <div class="cercle1 bounce1" >
          <svg xmlns="http://www.w3.org/2000/svg" width="134" height="134" viewBox="0 0 134 134" fill="none">
            <circle cx="67" cy="67" r="55.5" stroke="#925028" stroke-width="23"/>
          </svg>
        </div>

        <div class="cercle2 bounce2">
          <svg xmlns="http://www.w3.org/2000/svg" width="135" height="135" viewBox="0 0 135 135" fill="none">
            <circle cx="67.5" cy="67.5" r="67.5" fill="#FDCD51"/>
          </svg>
        </div>
      </div>
  </div>
-->



