.mainbody
  display: flex
  flex-direction: column


  .headerLayout
    display: flex
    justify-content: space-between
    align-items: center

    .ant-input-affix-wrapper
      width: 60% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .headerActions
      display: flex
      justify-content: space-between
      align-items: center
      width: 17rem

      .addActionHeader
        margin-left: 1rem

  .chart-overview
    display: flex
    gap: 1rem
    margin-block: 2rem
    max-height: 30rem


    .card
      border-radius: 8px
      border: 0.5px solid #EAECF0
      background: var(--Primary, #FFF)
      width: 48%
      height: 500px
      flex-shrink: 0

      &-title
        width: 100%
        display: flex
        flex-direction: column
        margin: 2% 0 0 2%
        // Ajout de la marge à gauche pour espacement
        .title
          color: #252525
          font-family: Inter, sans-serif
          font-size: 16px
          font-style: normal
          font-weight: 600
          line-height: 40px

        .make-spaceBetween
          .legends
            display: flex
            gap: 1rem
            margin: 2% 0 0 2%
            padding-bottom: 1rem

            .legend
              display: flex
              align-items: center

              svg
                margin-right: 0.5rem

              span
                margin-right: 1rem

            .select-week
              align-items: center
              align-self: end


    .card-right
      border-radius: 8px
      border: 0.5px solid #EAECF0
      background: var(--Primary, #FFF)
      width: 49%
      height: 500px
      flex-shrink: 0
      margin-left: 1rem
      // Ajout de la marge à gauche pour espacement

      card-title
        width: 100%
        display: flex
        flex-direction: column

        .title
          color: #252525
          font-family: Inter, sans-serif
          font-size: 16px
          font-style: normal
          font-weight: 600
          line-height: 40px

        .chart
          width: 60%
          align-self: center
          padding: 3rem
          height: 20rem
          transform: scale(0.4)

          canvas
            transform: scale(0.6)

        .legends
          display: flex
          gap: 1rem

          .legend
            display: flex
            align-items: center

            svg
              margin-right: 0.5rem

            span
              margin-right: 1rem


.ant-select
  margin-right: 1.5rem


.filterpatients
  margin-block: 1.5rem
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(2, 2rem)
  grid-column-gap: 20px

  .personal-infos
    grid-area: 2 / 1 / 3 / 4

    nz-select
      width: 100%

  .descrip-date
    grid-area: 1 / 4 / 2 / 7

  .date-filter
    grid-area: 2 / 4 / 3 / 7

    nz-date-picker
      width: 90%

  .descrip-age
    grid-area: 1 / 7 / 2 / 9

  .age-filter
    grid-area: 2 / 7 / 3 / 11

    nz-input-number
      width: 43%

      &:nth-child(1)
        margin-right: 6%

    nz-slider
      color: #84BE38 !important

  .button-action
    grid-area: 2 / 11 / 3 / 13
    text-align: end




