<div class="mainbody">
  <div class="headerLayout">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
    </nz-input-group>

    <div class="headerActions">
      <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
      <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
      <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
      <div class="addActionHeader">
        <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
        <span>Ajouter</span>
        <a [nzDropdownMenu]="menu" nz-dropdown>
          <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
        </a>
      </div>
    </div>
  </div>

  <div class="dataLayout">
    <div class="headerData make-spaceBetween">
      <p>Liste des profils</p>
      <button *ngIf="hasAction('CREER_PROFIL')" (click)="addNewProfil()" class="my-primary-button basic-button" nz-button nzSize="large">
        <span nz-icon nzType="plus"></span>
        Nouveau profil
      </button>
    </div>
    <div class="filterpatients">
      <div class="personal-infos">
        <nz-select [(ngModel)]="selectedProfilCode"  nzAllowClear nzPlaceHolder="Rechercher par code" nzShowSearch>
          <nz-option
            *ngFor="let profil of profils"
            [nzLabel]="profil.libelle"
            [nzValue]="profil.code">
          </nz-option>
        </nz-select>
      </div>

      <div class="button-action">
        <button (click)="filterData()" class="filter-form-button" nz-button>Filtrer</button>
      </div>
    </div>

    <nz-table #profilsTable (nzQueryParams)="onQueryParamsChange($event)"
              *ngIf="paginatedData"
              [nzData]="paginatedData.content"
              [nzFrontPagination]="false"
              [nzPageIndex]="paginatedData.pageable.pageNumber +1"
              [nzPageSize]="paginatedData.pageable.pageSize"
              [nzTotal]="paginatedData.totalElements">
      <thead>
      <tr>
        <th>Code</th>
        <th>Libellé</th>
        <th>Date de création</th>
        <th>Welcome bookmark</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profil of profilsTable.data">
        <td>{{ profil.code }}</td>
        <td>{{ profil.libelle }}</td>
        <td>{{ profil.dateCreation | date: "EEE 'le' dd MMM yyyy 'à' hh:mm:ss" }}</td>
        <td>
          <div [ngClass]="{'displayString' : !profil.welcomeBookmark}">
            {{ profil.welcomeBookmark | displayString }}
          </div>
        </td>

        <td class="space-evenly-modules some-min-width-12">
          <img *ngIf="hasAction('MODIFIER_PROFIL')" (click)="updateProfil(profil)" alt="Modifier" nz-tooltip
               nzTooltipTitle="Modifier" src="assets/from_figma/edit-action.svg" width="17">
          <img *ngIf="hasAction('SUPPRIMER_PROFIL')" (click)="delete(profil.code)" alt="supprimer" nz-tooltip nzTooltipTitle="Supprimer"
               src="assets/icon/trash.svg" width="20">
        </td>
      </tr>
      </tbody>

    </nz-table>

  </div>


</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li class="selectedLink" nz-menu-item *ngIf="hasAction('CREER_MODULE')">
      <span>Nouveau Module</span>
    </li>
  </ul>
</nz-dropdown-menu>




