<div class="mainbody">
  <div *nzModalTitle class="make-spaceBetween">
    <p>{{ titleForm }}</p>
    <img (click)="handleCancel()" alt="Fermer le form" src="assets/from_figma/close_modal.svg">
  </div>
    <!-- Header layout-->
    <div class="patient-form">
    <form [formGroup]="patientForm" (submit)="enregistrerPatient()">


<!--      <div class="button">
        <button class="btn" type="submit" (click)="enregistrerPatient()">Enregistrer</button>
      </div>-->
    <!-- Card for form-->
    <div class="card-information">
        <div class="formheader">
          <h3 class="title">Informations sur le patient</h3>
        </div>
        <div class="form">

            <div class="gender">
              <label class="label">Genre<sup>*</sup>:</label>
              <div>
                <input class="check" formControlName="genre" id="male" name="genre" type="radio" value="M">
                <label for="male">Homme</label>
              </div>
              <div>
                <input class="check" formControlName="genre" id="female" name="genre" type="radio" value="F">
                <label for="female">Femme</label>
              </div>
            </div>

            <div class="name">
              <div class="prenom">
                <label class="label" for="prenom">Prénom<sup>*</sup></label>
                <input class="input" type="text" id="prenom" name="prenom" formControlName="prenom" required>
              </div>
              <div class="nom">
                <label class="label" for="nom">Nom<sup>*</sup></label>
                <input class="input" type="text" id="nom" name="nom" formControlName="nom" required>
              </div>
            </div>

            <div class="phone-date">
              <div class="phone">
                <label class="label" for="phone">Téléphone<sup>*</sup></label>
                <input class="input" type="text" id="phone" name="phone" formControlName="telephone" required>
              </div>
              <div class="date">
                <label class="label" for="date">Date de naissance<sup>*</sup></label>
                <input [max]="maxDate" class="input" formControlName="datenaissance" id="date" name="date" required
                       type="date">
              </div>
            </div>

          <div class="name">
            <div class="prenom">
              <label class="label" for="email">Email<sup>*</sup></label>
              <input class="input" formControlName="email" id="email" name="email" required type="text">
            </div>
            <div class="nom">
              <label class="label" for="contactUrgence">Téléphone contact d'urgence<sup>*</sup></label>
              <input class="input" formControlName="contactEnCasUrgent" id="contactUrgence" name="contactUrgence"
                     required type="text">
            </div>
          </div>

          <div class="blood-address">
              <div class="blood">
                <label class="label" for="blood">Groupe sanguin</label>
                <select class="input" formControlName="groupeSanguin" id="blood" name="blood">
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
              </div>
              <div class="address">
                <label class="label" for="address">Adresse<sup>*</sup></label>
                <input class="input" type="text" id="address" name="address" formControlName="adresse" required>
              </div>
            </div>


        </div>
      </div>
      <!-- Card for Allergie input-->
      <div class="allergies-card">
        <div class="headerForm">
          <h3 class="title">
            Allergies
          </h3>
        </div>
        <div class="form">
          <div class="medecin">
            <label class="label" for="allergies">Allergies et intolérances</label>
          <!-- textarea -->
            <textarea class="input" formControlName="allergies" id="allergies" name="allergies"></textarea>
          </div>
        </div>
      </div>
      <div class="allergies-card">
        <div class="headerForm">
          <h3 class="title">
            Maladies Chroniques
          </h3>
        </div>
        <div class="form">
          <div class="medecin">
            <!-- textarea -->
            <textarea class="input" formControlName="maladies" id="maladies" name="maladies"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button class="my-default-button basic-button" (click)="handleCancel()">Annuler</button>
    <button (click)="enregistrerPatient()" [nzLoading]="isConfirmLoading"
            [ngClass]="{'buttonIsDisabled': patientForm.invalid, 'basic-button' : true, 'my-primary-button': patientForm.valid}"
            [nzTooltipTitle]="patientForm.invalid ? 'Veuillez bien remplir le formulaire': 'Enregistrer'" nz-button
            nz-tooltip>
      Enregistrer
    </button>
  </div>



  </div>

  <ng-template #suffixIconSearch>
    <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
  </ng-template>

