.dataLayout
  border-radius: 0.5rem
  border: 0.5px solid #EAECF0
  background-color: #FFFFFF
  padding: 1rem
  font-family: 'Inter', sans-serif
  font-size: 1rem
  font-weight: 600
  line-height: 2.5rem
  color: #252525
  margin-bottom: 2.5rem

  .title
    display: flex
    justify-content: space-between
    margin: 12px

  [nz-button]
    background-color: #266141
    margin-right: 8px
    margin-bottom: 12px
    border-radius: 8px
    font-weight: 400
    font-size: 14px


.events
  list-style: none
  margin: 0
  padding: 0

  .ant-badge-status
    overflow: hidden
    white-space: nowrap
    width: 100%
    text-overflow: ellipsis
    font-size: 12px
    height: 35px
    border-radius: 10px

  .notes-month
    text-align: center
    font-size: 28px

  .notes-month section
    font-size: 28px

.content-rdv
  overflow: scroll
  height: 14rem


.line-rdv
  margin: 10px
  display: flex
  font-weight: 500
  font-size: small
  color: #5D6273
  justify-content: space-between

  .heure-rdv
    margin: auto

  .detail-rdv
    border-radius: 12px
    border: 0.1rem solid #c7c7c7
    height: 65px
    width: 100%
    cursor: pointer

  .box-rdv
    display: flex

    .user-icon
      font-size: 32px
      margin: auto 14px

    .user-doctor
      font-size: 14px
      font-weight: 600
      height: 22px

    .user-detail
      font-size: small

    .user-doctor-detail
      margin: auto 10px



.ant-picker-calendar-header
  display: flex
  justify-content: center
  padding: 12px 0
