<div class="dataLayout">
  <nz-calendar class="custom-calendar">
    <ul *nzDateCell="let date" class="events">
      <ng-container *ngFor="let item of listDataMap">
        <ng-container *ngIf="date.getDate() === getDayOfMonth(item.dateRv) && date.getMonth() === getMonthOfYear(item.dateRv) && date.getFullYear() === getYear(item.dateRv)">
          <li>
            <div class="card-rdv" nz-popover nzPopoverTitle="{{ item.patient.personne.prenom }} {{ item.patient.personne.nom }}" nzPopoverPlacement="leftTop" [nzPopoverContent]="contentTemplate" (click)="detailRdv(item)">
              <div class="card-rdv-title">{{ item.patient.personne.prenom }} {{ item.patient.personne.nom }}</div>
              <div class="card-rdv-content">
                <div class="card-rdv-heure">
                  <img src="assets/icon/calendar.svg" alt="calendrier">
                  <span>{{ getHour(item.dateRv) }}H {{ getMinutes(item.dateRv) }}</span>
                </div>
                <div class="card-rdv-doctor">
                  <img src="assets/icon/Docteur.svg" alt="docteur">
                  <span> Dr {{ item.personnel.personne.prenom }} {{ item.personnel.personne.nom }}</span>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
        <ng-template #contentTemplate>
          <div>
            <p>Numero telephone : {{ item.patient.personne.telephone}} </p>
            <p>Service : {{ item.service.nom}} </p>
            <p>Medecin : {{ item.personnel.personne.nom}} </p>
            <p>Heure : {{ getHour(item.dateRv) }}H {{ getMinutes(item.dateRv) }} </p>
          </div>
        </ng-template>
      </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }} Rendez-Vous </section>
        <button nz-button nzType="primary" nzSize="large" nzShape="round">
          <span nz-icon nzTheme="outline"></span>
          Voir plus
        </button>
      </div>
    </ng-container>
  </nz-calendar>
</div>

<div class="dataLayout">
  <div class="title">
    <p>Rendez-vous d'aujourd'hui</p>
    <button (click)="addRdv()" nz-button nzType="primary" nzSize="large" nzShape="round">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Nouveau rendez-vous
    </button>
  </div>
  <div class="content-rdv">
    <div class="scroll">
      <div class="line-rdv" *ngFor="let item of listDataMapToday">
        <div class="detail-rdv" (click)="detailRdv(item)">
          <div class="box-rdv">
            <div class="user-icon">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </div>
            <div class="user-doctor-detail">
              <div class="user-doctor">
                <div class="name"> {{ item.patient.personne.prenom }} {{item.patient.personne.nom}} </div>
              </div>
              <div class="user-detail">
                <span nz-icon nzType="calendar" nzTheme="outline"></span> {{ getHour(item.dateRv) }}H {{ getMinutes(item.dateRv) }}
                <span nz-icon nzType="skin" nzTheme="outline"></span> Doctor {{ item.personnel.personne.prenom }}  {{ item.personnel.personne.nom}}
                <span nz-icon nzType="group" nzTheme="outline"></span> {{ item.service.nom }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
