<div class="mainbody">
  <div class="headerLayout">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
    </nz-input-group>
    <div class="headerActions">
      <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
      <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
      <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
      <div class="addActionHeader">
        <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
        <span>Ajouter</span>
        <a [nzDropdownMenu]="menu" nz-dropdown>
          <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
        </a>
      </div>
    </div>
  </div>

  <!--  <div class="div-btn">
      <button (click)="addRdv()" class="btn" nz-button nzType="primary" nzSize="large" nzShape="round">
        <span nz-icon nzType="plus"></span>
        Nouveau rendez-vous
      </button>
    </div>-->
  <div class="dataLayout">
    <div class="headerData make-spaceBetween">
      <p>Listes des Rendez-vous</p>
      <button (click)="addRdv()" class="basic-button my-primary-button" nz-button nzShape="round" nzType="primary">
        <span nz-icon nzType="plus"></span>
        Nouveau rendez-vous
      </button>
    </div>
    <div class="rdvFilter">
      <div class="rdv-patient-filter">
        <nz-select [(ngModel)]="patientPers" nzAllowClear nzPlaceHolder="Choissez un patient" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option
            *ngFor="let patient of listOfPatients"
            [nzLabel]="getPatientInfos(patient)"
            [nzValue]="patient?.personne">

          </nz-option>
          <!--          <ng-template #customizeOption let-selected>
                      {{ selected?.prenom + ' ' + selected?.nom }}
                      <span class="phone-display">- {{ selected?.telephone }}</span>
                    </ng-template>-->
        </nz-select>
      </div>
      <div class="rdv-date-desc"><p>Date du Rendez-vous</p></div>
      <div class="rdv-date-filter">
        <nz-range-picker [(ngModel)]="choosenDate" nzFormat="dd/MM/YYYY"></nz-range-picker>
      </div>
      <div class="rdv-service-desc"><p>Service</p></div>
      <div class="rdv-service-filter">
        <nz-select [(ngModel)]="serviceId" nzAllowClear
                   nzPlaceHolder="Choissez un service" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option-group *ngFor="let pole of listOfPole" [nzLabel]="pole.nom">
            <nz-option
              *ngFor="let service of getAllServicesByPole(pole)"
              [nzLabel]="service.nom!" [nzValue]="service.id"></nz-option>
          </nz-option-group>
        </nz-select>
      </div>
      <div class="rdv-status-desc">Statut</div>
      <div class="rdv-status-filter">
        <nz-select [(ngModel)]="rdvStatut" nzAllowClear nzPlaceHolder="Choisissez un statut" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option *ngFor="let status of rdvStatusList" [nzLabel]="getStatusLabel(status)"
                     [nzValue]="status"></nz-option>
        </nz-select>
      </div>
      <div class="filter-button">
        <button (click)="filtre()" class="filter-form-button" nz-button>Filtrer</button>
      </div>
    </div>
    <nz-table #basicTable
              *ngIf="paginatedData"
              [nzData]="paginatedData.content"
              [nzPageSize]="paginatedData.pageable.pageSize"
              [nzPageIndex]="paginatedData.pageable.pageNumber +1"
              [nzTotal]="paginatedData.totalElements"
              [nzFrontPagination]="false"
              (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
      <tr>
        <th>Date Rendez-Vous</th>
        <th>Patient</th>
        <th>Telephone</th>
        <th>Service</th>
        <th>Statut</th>
        <th>Actions</th>
        <!-- Ajoutez d'autres colonnes si nécessaire -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rdv of paginatedData.content">
<!--        <td><strong>{{ getHour(rdv.dateRv) }}H{{ getMinutes(rdv.dateRv)}}</strong></td>-->
        <td>{{ formatDateString(rdv.dateRv) }}</td>
        <td><strong>{{ rdv.patient.personne.id}}</strong> - {{ rdv.patient.personne.prenom }} {{rdv.patient.personne.nom}}</td>
        <td>{{ rdv.patient.personne.telephone | prettyPhoneNumber }}</td>
        <td>
          {{ rdv.service.nom }}
          <span class="service-pole">{{ ' - (' + rdv.service.pole!.nom + ')' }}</span>
        </td>
        <td><nz-badge nzStatus="processing" nzText="Non Confirmee"></nz-badge></td>
        <td class="icon-table">
          <img (click)="detailRdv(rdv)" alt="modifier" nz-tooltip nzTooltipTitle="Voir détails ou modifier"
               src="assets/icon/eye.svg">
          <img (click)="detailPatient(rdv.patient)" alt="patient" nz-tooltip
               nzTooltipTitle="Voir détails Patient" src="assets/icon/Icone%20user.svg">
          <img (click)="deleteRdv(rdv.id)" alt="delete" nz-tooltip nzTooltipTitle="Supprimer"
               src="assets/icon/trash.svg">
          <img (click)="cancelRDV(rdv)" [nzTooltipTitle]="isValidated(rdv.statut!)? 'Valider': 'Annuler'" [src]="'assets/from_figma/'+(isValidated(rdv.statut!)? 'confirm-yes.svg': 'confirm-no.svg')"
               alt="Arrow Down" nz-tooltip
               width="17">

          <!--<nz-dropdown-menu #AnnulerRDV="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <span>Pourquoi voulez-vous annuler ce rendez-vous ?</span>
            </li>
            <li nz-menu-item>
              <textarea class="input" [(ngModel)]="rdvMotif" required></textarea>
            </li>
            <li nz-menu-item class="cancel-li">
              <button class="cancel-rdv basic-button" (click)="cancelRDV(rdv)"> Annuler le rendez-vous</button>
            </li>
          </ul>
        </nz-dropdown-menu>-->
        </td>
      </tr>
      </tbody>

    </nz-table>

  </div>
</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>

<ng-template #suffixIconCalendar>
  <img alt="Calendar" src="assets/icon/calendar.svg">
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li class="selectedLink" nz-menu-item>
      <span>Nouveau Patient</span>
    </li>
    <li class="selectedLink" nz-menu-item>
      <span>Nouveau RDV</span>
    </li>
    <li (click)="addNewPrestation()" class="selectedLink" nz-menu-item>
      <span>Nouvelle prestation</span>
    </li>
  </ul>
</nz-dropdown-menu>


