<div class="mainbody">
  <div class="headerLayout">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Rechercher par patient, prestation" type="text"/>
    </nz-input-group>
    <div class="headerActions">
      <img alt="notif" src="assets/from_figma/notification_icon.svg" width="17.5">
      <img alt="email" src="assets/from_figma/email-icon.svg" width="17.5">
      <img alt="calendar" src="assets/from_figma/calendar-icon.svg" width="17.5">
      <div class="addActionHeader">
        <img alt="Ajouter" src="assets/from_figma/addPlus-icon.svg">
        <span>Ajouter</span>
        <a [nzDropdownMenu]="menu" nz-dropdown>
          <img alt="Arrow Down" src="assets/from_figma/arrow-down.svg">
        </a>
      </div>
    </div>
  </div>

  <!--  <div class="div-btn">
      <button (click)="addRdv()" class="btn" nz-button nzType="primary" nzSize="large" nzShape="round">
        <span nz-icon nzType="plus"></span>
        Nouveau rendez-vous
      </button>
    </div>-->
  <div class="statsLayout">
    <div *ngFor="let stat of numberStats; let i = index" class="myCardStats">
      <div class="logoStats"><img [src]="'assets/from_figma/rdv'+svgList[i]+'.svg'" alt="stats" width="35"></div>

      <div class="numberStats"><p [ngStyle]="{color: colorStats[i]}">{{ stat }}</p></div>
      <div class="descStats"><p [ngStyle]="{color: colorStats[i]}">{{ descSats[i] }}</p></div>

    </div>
  </div>

  <div class="dataLayout">
    <div class="headerData make-spaceBetween">
      <p>Listes des Rendez-vous</p>
      <button *ngIf="hasAction('CREER_RENDEZVOUS')" (click)="addRdv()" class="basic-button my-primary-button" nz-button nzShape="round" nzType="primary">
        <span nz-icon nzType="plus"></span>
        Nouveau rendez-vous
      </button>
    </div>
    <div class="rdvFilter">
      <div class="rdv-patient-filter">
        <nz-select [(ngModel)]="patientPers" nzAllowClear nzPlaceHolder="Choissez un patient" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option
            *ngFor="let patient of listOfPatients"
            [nzLabel]="getPatientInfos(patient)"
            [nzValue]="patient?.personne">

          </nz-option>
          <!--          <ng-template #customizeOption let-selected>
                      {{ selected?.prenom + ' ' + selected?.nom }}
                      <span class="phone-display">- {{ selected?.telephone }}</span>
                    </ng-template>-->
        </nz-select>
      </div>
      <div class="rdv-date-desc"><p>Date du Rendez-vous</p></div>
      <div class="rdv-date-filter">
        <nz-range-picker [(ngModel)]="choosenDate" nzFormat="dd/MM/YYYY"></nz-range-picker>
      </div>
      <div class="rdv-service-desc"><p>Service</p></div>
      <div class="rdv-service-filter">
        <nz-select [(ngModel)]="serviceId" nzAllowClear
                   nzPlaceHolder="Choissez un service" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option-group *ngFor="let pole of listOfPole" [nzLabel]="pole.nom">
            <nz-option
              *ngFor="let service of getAllServicesByPole(pole)"
              [nzLabel]="service.nom!" [nzValue]="service.id"></nz-option>
          </nz-option-group>
        </nz-select>
      </div>
      <div class="rdv-status-desc">Statut</div>
      <div class="rdv-status-filter">
        <nz-select [(ngModel)]="rdvStatut" nzAllowClear nzPlaceHolder="Choisissez un statut" nzShowSearch>
          <nz-option nzLabel="----"></nz-option>
          <nz-option *ngFor="let status of rdvStatusList" [nzLabel]="getStatusLabel(status)"
                     [nzValue]="status"></nz-option>
        </nz-select>
      </div>
      <div class="filter-button">
        <button (click)="filtre()" class="filter-form-button" nz-button>Filtrer</button>
      </div>
    </div>
    <nz-table #basicTable
              *ngIf="paginatedData"
              [nzData]="paginatedData.content"
              [nzPageSize]="paginatedData.pageable.pageSize"
              [nzPageIndex]="paginatedData.pageable.pageNumber +1"
              [nzTotal]="paginatedData.totalElements"
              [nzFrontPagination]="false"
              (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
      <tr>
        <th>Date Rendez-Vous</th>
        <th>Patient</th>
        <!--        <th>Telephone</th>-->
        <th>Service</th>
        <th>Statut</th>
        <th>Actions</th>
        <!-- Ajoutez d'autres colonnes si nécessaire -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rdv of paginatedData.content">
<!--        <td><strong>{{ getHour(rdv.dateRv) }}H{{ getMinutes(rdv.dateRv)}}</strong></td>-->
        <td>{{ rdv.dateRv| date: "EEE 'le' dd MMM yyyy 'à' hh:mm" }}</td>
        <td><strong>{{ rdv.patient.personne.id}}</strong> - {{ rdv.patient.personne.prenom }} {{rdv.patient.personne.nom}}</td>
        <!--        <td>{{ rdv.patient.personne.telephone | prettyPhoneNumber }}</td>-->
        <td class="max-width-20">
          {{ rdv.service.nom }}
          <span class="service-pole">{{ ' - (' + rdv.service.pole!.nom + ')' }}</span>
        </td>
        <td class="width-5">
          <!--          <nz-badge nzStatus="processing" nzText="Non Confirmee"></nz-badge>-->
          <nz-badge [nzColor]="getStatusInfo(rdv.statut!).color">
            <span
              [ngStyle]="{'color': getStatusInfo(rdv.statut!).color}">{{ getStatusInfo(rdv.statut!).text |titlecase }}</span>
          </nz-badge>
        </td>
        <td class="icon-table some-min-width-10">
          <img *ngIf="hasAction('VOIR_DETAILS_RENDEZVOUS')"(click)="seeDetails(rdv)" alt="modifier" nz-tooltip nzTooltipTitle="Voir détails"
               src="assets/from_figma/see-details-action.svg">
          <!--<img (click)="detailPatient(rdv.patient)" alt="patient" nz-tooltip
               nzTooltipTitle="Voir détails Patient" src="assets/icon/Icone%20user.svg">-->
          <img *ngIf="hasAction('MODIFIER_RENDEZVOUS')" (click)="updateRdv(rdv)" [nzTooltipTitle]="isCreated(rdv.statut!) ? 'Modifier': 'Modification non autorisée'"
               [src]="'assets/from_figma/edit-action'+(isCreated(rdv.statut!)?'': '_blocked')+'.svg'"
               [style.cursor]="isCreated(rdv.statut!)? 'pointer' : 'not-allowed'" alt="Modifier"
               nz-tooltip>

          <img *ngIf="hasAction('CONFIRMER_RENDEZVOUS')" (click)="cancelOrValidateRDV(rdv, 'V')" [nzTooltipTitle]="isValidated(rdv.statut!)? 'Déjà confirmé': 'Confirmer'"
               [src]="'assets/from_figma/confirm-yes'+(isValidated(rdv.statut!)?'_blocked':'')+ '.svg'"
               [style.cursor]="isValidated(rdv.statut!)?'not-allowed':'pointer'"
               alt="Arrow Down" nz-tooltip width="17">
          <img *ngIf="hasAction('ANNULER_RENDEZVOUS')" (click)="cancelOrValidateRDV(rdv, 'C')" [nzTooltipTitle]="isCanceled(rdv.statut!)? 'Déjà annulé': 'Annuler'"
               [src]="'assets/from_figma/confirm-no'+(isCanceled(rdv.statut!)?'_blocked':'')+ '.svg'" [style.cursor]="isCanceled(rdv.statut!)?'not-allowed':'pointer'" alt="ANNULER"
               nz-tooltip width="17">
        </td>
      </tr>
      </tbody>

    </nz-table>
  </div>

  <div class="for-graphs make-spaceBetween">
    <div class="for-bar-graph for-a-card">
      <div class="title">
        Évolution hebdomadaire des rendez-vous
      </div>
      <div class="make-spaceBetween">
        <div class="legende">
          <nz-badge nzColor="#5D6273"></nz-badge>
          <span [style.color]="'#5D6273'">{{ 'à confirmer' | titlecase }}</span>
          <nz-badge nzColor="#20AC2E"></nz-badge>
          <span [style.color]="'#20AC2E'">Confirmé</span>
          <nz-badge nzColor="#A81735"></nz-badge>
          <span [style.color]="'#A81735'">Annulé</span>
        </div>
        <nz-select
          (ngModelChange)="OnWeekChange($event)"
          [(ngModel)]="isLastWeek"
        >
          <nz-option [nzValue]="false" nzLabel="Semaine en cours"></nz-option>
          <nz-option [nzValue]="true" nzLabel="Semaine dernière"></nz-option>
        </nz-select>
      </div>

      <div class="graph-bar-chart">
        <canvas id="weeklyRDVStats">{{ barGraph }}</canvas>
      </div>
    </div>
    <div class="for-disc-graph for-a-card">
      <div class="title">
        Répartition des statuts des rendez-vous
      </div>
      <div class="legende">
        <nz-badge nzColor="#5D6273"></nz-badge>
        <span [style.color]="'#5D6273'">{{ 'à confirmer' | titlecase }}</span>
        <nz-badge nzColor="#20AC2E"></nz-badge>
        <span [style.color]="'#20AC2E'">Confirmé</span>
        <nz-badge nzColor="#A81735"></nz-badge>
        <span [style.color]="'#A81735'">Annulé</span>
      </div>

      <div class="graph-disc-chart">
        <canvas id="discRDVStatusGraph">{{ doughnutGraph }}</canvas>
      </div>

    </div>

  </div>
</div>

<ng-template #suffixIconSearch>
  <img alt="Rechercher" src="assets/from_figma/search_icon.svg">
</ng-template>

<ng-template #suffixIconCalendar>
  <img alt="Calendar" src="assets/icon/calendar.svg">
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li *ngIf="hasAction('CREER_PATIENT')"  class="selectedLink" nz-menu-item>
      <span>Nouveau Patient</span>
    </li>
    <li *ngIf="hasAction('CREER_RENDEZVOUS')"  class="selectedLink" nz-menu-item>
      <span>Nouveau RDV</span>
    </li>
    <li *ngIf="hasAction('CREER_PRESTATION')"  (click)="addNewPrestation()" class="selectedLink" nz-menu-item>
      <span>Nouvelle prestation</span>
    </li>
  </ul>
</nz-dropdown-menu>


