.mainbody
  display: flex
  flex-direction: column

  .headerLayout
    display: flex
    justify-content: space-between

    .ant-input-affix-wrapper
      width: 40% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .headerActions
      display: flex
      justify-content: space-between
      width: 17rem

      .addActionHeader
        >span
          margin-right: .5rem


.div-btn
  width: auto
  padding: 2rem 0
  .btn
    float: right
    width: 15rem
    background: var(--Primaire, #266141)
    background-color: #266141 !important
    color: #ECF2FF !important
    //padding: 0.4rem 0.7rem !important
    height: 2.8rem
    text-align: center
    border-radius: 0.4rem

    &:hover
      background-color: white !important
      border: 0.5px solid #266141 !important
      color: #266141 !important

.icon-table
  img
    margin-right: 12px
    cursor: pointer
