.dataLayout
  border-radius: 0.5rem
  border: 0.5px solid #EAECF0
  background-color: #FFFFFF
  padding: 1rem
  font-family: 'Inter', sans-serif
  font-size: 1rem
  font-weight: 600
  line-height: 2.5rem
  color: #252525
  margin-bottom: 2.5rem

  .title
    display: flex
    justify-content: space-between
    margin: 12px

  [nz-button]
    background-color: #266141
    margin-right: 8px
    margin-bottom: 12px
    border-radius: 8px
    font-weight: 400
    font-size: 14px


.events
  list-style: none
  margin: 0
  padding: 0

  .ant-badge-status
    overflow: hidden
    white-space: nowrap
    width: 100%
    text-overflow: ellipsis
    font-size: 12px

  .notes-month
    text-align: center
    font-size: 28px

  .notes-month section
    font-size: 28px


.line-rdv
  margin: 10px
  display: flex
  font-weight: 500
  justify-content: space-between

  .heure-rdv
    font-size: 16px
    margin: auto

  .detail-rdv
    border-radius: 12px
    border: 1px solid black
    width: 90%

  .box-rdv
    display: flex

    .user-icon
      font-size: 32px
      margin: auto 10px

    .user-doctor
      font-size: 16px

    .user-detail
      font-size: 12px

