/* You can add global styles to this file, and also import other style files */
//@font-face
//  font-family: 'Inter'
//  src: url('src/assets/Fonts/Inter/static/Inter-Black.ttf')

.mainbody
  display: flex
  flex-direction: column

  .headerLayout
    display: flex
    justify-content: space-between

    .ant-input-affix-wrapper
      width: 40% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .headerActions
      display: flex
      justify-content: space-between
      width: 17rem

      .addActionHeader
        > span
          margin-right: .5rem


.ant-picker-calendar-header
  display: flex
  justify-content: center
  padding: 12px 0

  .ant-select
    box-sizing: border-box
    border-color: #EDF2F7
    margin: 0
    padding: 0
    color: #2a2a2a
    font-size: 14px
    font-variant: tabular-nums
    line-height: 1.5715
    list-style: none
    font-feature-settings: 'tnum'
    position: relative
    display: inline-block
    cursor: pointer

.ant-picker-content tr th
  height: auto
  padding: 0 12px 5px 0
  line-height: 18px
  text-align: center
  font-size: medium

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today
    border-color: #266141

.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today .ant-picker-calendar-date-value
  color: #266141

body, html
  height: 100%
  margin: 0  // Remove default margin
  overflow: hidden
  background: #FFFFFF
  font-family: 'Lato', sans-serif


.make-me-flex
  display: flex
  align-items: center

.selectedLink:hover
  color: #84BE38

.make-spaceBetween
  display: flex
  justify-content: space-between
  align-items: center


.legende
  margin-bottom: 2rem

  nz-badge:not(:first-of-type)
    margin-left: 10px


.center-item
  display: flex
  justify-content: center
  align-items: center


.my-default-button
  color: rgba(89, 87, 87, 0.85) !important
  border-color: lightgrey !important

.basic-button
  height: 3rem
  text-align: center
  border-radius: 0.375rem
  min-width: 8rem

.my-primary-button
  background-color: #266141 !important
  color: #ECF2FF !important
  //padding: 0.4rem 0.7rem !important
  &:hover
    background-color: white !important
    border: 0.5px solid #266141 !important
    color: #266141 !important


.buttonIsDisabled
  color: rgba(89, 87, 87, 0.75) !important
  font-style: italic !important
  background-color: #cccccc !important
  cursor: not-allowed
  border-color: lightgrey !important

.my-patient-id
  color: black
  font-weight: bolder
  font-size: larger

.service-pole
  margin-left: 10px
  color: rgba(0, 0, 0, 0.4)
  font-size: 13px

.displayString
  color: lightgrey
  font-weight: lighter
  font-size: smaller
  font-style: italic

.ant-badge-status-error
  background-color: #A81735


.ant-pagination-item:hover
  color: #84BE38 !important
  border-color: #84BE38

  a
    color: #84BE38 !important

.ant-pagination-item-active
  border-color: #84BE38 !important
  a
    color: #84BE38 !important


.ant-menu-item-selected a,
.ant-menu-item-selected a:hover
  color: #84BE38


.ant-menu-item a:hover
  color: #84BE38 !important

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
  background-color: inherit

.ant-menu-inline .ant-menu-item::after
  border-right: none



.ant-menu-submenu-selected

  border-top-left-radius: 15px
  border-bottom-left-radius: 15px

.my_left_page
  align-self: start

.my_right_page
  align-self: end


.ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link
  color: #84BE38
  border-color: #84BE38

.phone-display
  margin-left: 10px
  color: rgba(0, 0, 0, 0.4)
  font-style: italic

.ant-message-success .ant-message-success>.anticon
  background-color: #266141 !important
  color: white !important


.dataLayout
  border-radius: 0.5rem
  border: 0.5px solid #EAECF0
  background-color: #FFFFFF
  padding: 1rem
  margin-top: 1.8rem

  > p:nth-child(1)
    font-family: 'Inter', sans-serif
    font-size: 1rem
    font-weight: 600
    line-height: 2.5rem
    color: #252525
    margin-bottom: -.5rem

  .headerData
    > p:nth-child(1)
      font-family: 'Inter', sans-serif
      font-size: 1rem
      font-weight: 600
      line-height: 2.5rem
      color: #252525
      margin-bottom: -.5rem

  .controllers
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(2, 2rem)
    grid-column-gap: 6px
    margin-bottom: 2rem

    .ant-input-affix-wrapper
      width: 90% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .searchInput
      grid-area: 2 / 1 / 3 / 3

    .dateDesc
      grid-area: 1 / 3 / 2 / 4

    .searchByDate
      grid-area: 2 / 3 / 3 / 5

      nz-date-picker
        width: 90%

    .serviceDesc
      grid-area: 1 / 5 / 2 / 6

    .searchByService
      grid-area: 2 / 5 / 3 / 7


    .filterButton
      grid-area: 2 / 7 / 3 / 8
      text-align: end


.width_perc-40
  width: 40%

.width-10
  max-width: 9rem
  min-width: 7.5rem


.width-25
  max-width: 25rem

.width-13
  width: 13rem

.statsLayout
  margin: .6rem 0
  display: flex
  justify-content: space-between


.myCardStats
  padding: .7rem 0 1rem .5rem
  border-radius: 0.5rem
  border: 0.8px solid #EAECF0
  background-color: white
  display: grid
  grid-template-columns: repeat(4, 4rem)
  grid-template-rows: repeat(2, 2rem)
  grid-column-gap: 5px

  .logoStats
    grid-area: 1 / 1 / 3 / 2
    display: flex
    justify-content: center
    align-items: center

  .numberStats
    grid-area: 1 / 2 / 2 / 4
    padding-top: .2rem

    p
      font-family: 'Inter', sans-serif
      font-size: 1rem
      font-weight: 600
      color: #5D6273

  .descStats
    grid-area: 2 / 2 / 3 / 5

    p
      font-family: 'Inter', sans-serif
      font-weight: 300
      color: #5d6273
      font-size: 12px
      line-height: 19.45px


.for-a-card
  background: #ffffff
  border-radius: 8px
  border-style: solid
  border-color: #eaecf0
  border-width: 0.5px
  padding: .5rem 1rem

  .title
    color: #252525
    font-family: Inter, sans-serif
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 40px

//.ant-input-group>.ant-input:last-child,
//  >.ant-input-group-addon:last-child
//    //border-top-left-radius: 0
//    //border-bottom-left-radius: 0
//    border-radius: 5px !important
//
//.ant-input-group>.ant-input:first-child,
//  >.ant-input-group-addon:first-child
//    //border-top-right-radius: 0
//    //border-bottom-right-radius: 0
//    border-radius: 5px !important


// TODO SIDENAV STYLE
.selector-active-test
  width: 100%
  display: inline-block
  position: absolute
  height: 37px
  top: 0
  left: 0
  transition-duration: 0.6s
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
  background-color: #84BE38
  border-top-left-radius: 50px
  border-bottom-left-radius: 50px

  .top, .bottom
    position: absolute
    width: 25px
    height: 25px
    background-color: #84BE38
    right: 0

  .top
    top: -25px

  .bottom
    bottom: -25px

  .top:before, .bottom:before
    content: ''
    position: absolute
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #fff

  .top:before
    left: -25px
    top: -25px

  .bottom:before
    bottom: -25px
    left: -25px


.filter-form-button
  border-radius: 0.25rem
  background-color: #84BE38
  color: #ECF2FF
  width: 80%
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05)

  &:hover, &:focus
    color: #84BE38
    border-color: #84BE38

.space-evenly-modules
  display: flex
  gap: 20px

  img
    cursor: pointer

.space-evenly
  display: flex
  justify-content: space-between
  align-items: center

  img
    cursor: pointer

.some-min-width-10
  min-width: 10rem


.some-min-width-5
  min-width: 5rem

.some-min-width-12
  min-width: 13.5rem

.icon-table
  img
    cursor: pointer

  img:not(img:last-of-type)
    margin-right: 1rem

.max-width-20
  max-width: 20rem


.width-5
  width: 8rem

.introuvable
  color: gray !important
  font-weight: normal !important
  font-size: small !important
  font-style: italic


//@media print
//  :not(.my-facture)
//    visibility: hidden
//
//@media print
//  .my-facture
//    visibility: visible

.for-bar-graph
  width: 55%

.for-disc-graph
  width: 40%


.for-graphs
  margin-block: 2rem


.details-body
  padding: 1.5rem 2rem
  background-color: #f6f8fb
  border-radius: 2px

  .make-spaceBetween
    margin-bottom: 1.5rem

    .left-side, .right-side
      width: 48%


.add-some-margin
  margin-bottom: 2rem


.connect-phrase
  font-family: 'Lato', sans-serif
  font-weight: 400
  line-height: 1.4375rem


.width-6-8
  min-width: 6.5rem
  max-width: 8rem


.return-back, .return-back:hover
  //text-decoration: underline
  align-self: flex-end
  margin-bottom: .5rem
  color: #84BE38
