
$couleurPrimaire: #266141 // Vert foncé
$couleurSecondaire: #84BE38 // Vert
$couleurBackground: #ECF2FF // Gris clair
$couleurInputText: #CBCED9 // Gris clair
$couleurStroe: #EAECF0 // Gris clair
$couleurAccompagnement: #925028 // Gris clair
$couleurAccmp2: #FDCD51 // Gris clair

