.mainbody
  display: flex
  flex-direction: column
  max-height: 100vh
  overflow-y: auto

  .headerLayout
    display: flex
    justify-content: space-between
    align-items: center

    .ant-input-affix-wrapper
      width: 40% !important
      padding: 4px 11px
      font-size: 14px
      line-height: 1.5715
      background-color: #fff
      border-radius: 0.5625rem !important
      border: 1px solid #EAECF0 !important

    .headerActions
      display: flex
      justify-content: space-between
      align-items: center
      width: 17rem

      img
        width: 17.5px

      .addActionHeader
        margin-left: 1rem

