#firstIMG
  display: block
  margin: 4rem 50px

//nz-sider
//  overflow: auto
//  height: 90%
//  position: fixed
//  left: 0

nz-layout:first-of-type
  display: flex
  height: 100%

  nz-sider
    overflow: auto
    height: 100%
    //width: 20%
    position: fixed
    left: 0
    padding-left: 1rem

  nz-layout
    margin-left: 16%
    overflow: auto


nz-header
  background: #fff
  padding: 0


.selectedLink
  //text-align: center
  img
    margin-right: 0.5rem
    vertical-align: text-bottom


.selectedLink:hover
  color: #84BE38

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover
  color: #84BE38

.ant-menu-item a:hover
  color: #84BE38

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
  background-color: inherit

.ant-menu-inline .ant-menu-item::after
  border-right: none

.ant-menu-submenu-selected
  background-color: #84BE38
  color: whitesmoke
  border-top-left-radius: 15px
  border-bottom-left-radius: 15px

.firstNav
  background-color: #84BE38 !important
  color: whitesmoke
  border-top-left-radius: 15px !important
  border-bottom-left-radius: 15px !important
  a
    color: #ECF2FF

.module_logo
  margin-right: 0.5rem
  vertical-align: text-bottom
