<!--<nz-layout>
  <nz-sider nzTheme="light" nzWidth="16%">
    <div id="firstIMG">
      <img src="assets/from_figma/logo_dark.svg" alt="Logo TouchMed" class="bg-img">
    </div>
    <ul nz-menu nzMode="inline" >

      <li nz-menu-item [ngClass]="{'firstNav': router.url =='/admin/dashboard'}">
        <a routerLink="/admin/dashboard" class="selectedLink" >
&lt;!&ndash;          <span nz-icon nzType="pie-chart" ></span>&ndash;&gt;
          <img width="16"
               [src]="'assets/from_figma/'+  (router.url=='/admin/dashboard'?'Dashboard_full_white.svg':'Dashboard.svg' )"
               alt="Dashboard">
          <span>Dashboard</span>
        </a>
      </li>

      <li nz-submenu
          [(nzOpen)]="openMap['personnes']"
          (nzOpenChange)="openHandler('personnes')"
          [nzTitle]="titlePersonnes">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/personnes/patients" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/personnes/patients')? 'new_patient_green.svg': 'new_patient.svg')"
                alt="Patients">
              <span>Liste des Patients</span>
            </a>
          </li>
        </ul>
      </li>

      <li nz-submenu
          [(nzOpen)]="openMap['dossiers']"
          (nzOpenChange)="openHandler('dossiers')"
          [nzTitle]="titleDossiers">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/dossiers/rendez-vous" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/dossiers/rendez-vous')? 'rdv_green.svg': 'rdv.svg')"
                alt="Rendez-Vous">
              <span>Rendez-vous</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/dossiers/prestation" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/dossiers/prestation')? 'Prestation_green.svg': 'Prestation.svg')"
                alt="Prstations">
              <span>Liste des prestations</span>
            </a>
          </li>
        </ul>
      </li>

      <li (nzOpenChange)="openHandler('finance')"
          [(nzOpen)]="openMap['finance']"
          [nzTitle]="titleFinance"
          nz-submenu>
        <ul>
          <li nz-menu-item>
            <a class="selectedLink" routerLink="/admin/finance/transactions">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/finance/transactions')? 'transactions_green.svg': 'transactions.svg')"
                alt="Transactions">
              <span>Transactions</span>
            </a>
          </li>
        </ul>
      </li>

      <li (nzOpenChange)="openHandler('organisation')"
          [(nzOpen)]="openMap['organisation']"
          [nzTitle]="titleOrganisation"
          nz-submenu>
        <ul>
          &lt;!&ndash;          <li nz-menu-item>
            <a routerLink="/admin/organisation/cliniques" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/organisation/cliniques')? 'clinique_green.svg': 'clinique.svg')"
                alt="Cliniques">
              <span>Cliniques</span>
            </a>
          </li>&ndash;&gt;
          <li nz-menu-item>
            <a class="selectedLink" routerLink="/admin/organisation/poles">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/organisation/poles')? 'poles_green.svg': 'poles.svg')"
                alt="Poles">
              <span>Pôles</span>
            </a>
          </li>

          <li nz-menu-item>
            <a class="selectedLink" routerLink="/admin/organisation/services">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/organisation/services')? 'service_green.svg': 'service.svg')"
                alt="Services">
              <span>Services</span>
            </a>
          </li>
          <li nz-menu-item>
            <a class="selectedLink" routerLink="/admin/organisation/personnels">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/organisation/personnels')? 'personnels_green.svg': 'personnels.svg')"
                alt="Personnels">
              <span>Personnels</span>
            </a>
          </li>
        </ul>
      </li>


      <li nz-submenu
          [(nzOpen)]="openMap['parametre']"
          (nzOpenChange)="openHandler('parametre')"
          [nzTitle]="titleParametre">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/parametre/parametres" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/parametre/parametres')? 'parametres_green.svg': 'parametres.svg')"
                alt="Paramètres">
              <span>Paramètres</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/parametre/log-actions" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/parametre/log-actions')? 'log-actions_green.svg': 'log-actions.svg')"
                alt="Log-Actions">
              <span>Log Actions</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/parametre/sessions" class="selectedLink">
              <img
                [src]="'assets/from_figma/'+(router.url.endsWith('/parametre/sessions')? 'sessions_green.svg': 'sessions.svg')"
                alt="Sessions">
              <span>Sessions</span>
            </a>
          </li>
        </ul>
      </li>

      <li nz-submenu
          [(nzOpen)]="openMap['securite']"
          (nzOpenChange)="openHandler('securite')"
          [nzTitle]="titleSecurite">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/securite/modules" class="selectedLink">
              <img
                      [src]="'assets/from_figma/'+(router.url.endsWith('/securite/modules')? 'module_green.svg': 'module.svg')"
                alt="Rendez-Vous">
              <span>Modules</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/securite/fonctionnalites" class="selectedLink">
              <img
                      [src]="'assets/from_figma/'+(router.url.endsWith('/securite/fonctionnalites')? 'fonctionnalite_green.svg': 'fonctionnalite.svg')"
                alt="Rendez-Vous">
              <span>Fonctionnalités</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/securite/actions" class="selectedLink">
              <img
                      [src]="'assets/from_figma/'+(router.url.endsWith('/securite/actions')? 'log-actions_green.svg': 'log-actions.svg')"
                alt="Rendez-Vous">
              <span>Actions</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/securite/profil" class="selectedLink">
              <img
                      [src]="'assets/from_figma/'+(router.url.endsWith('/securite/profil')? 'personnels_green.svg': 'personnels.svg')"
                alt="Rendez-Vous">
              <span>Profil</span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/securite/acces" class="selectedLink">
              <img
                      [src]="'assets/from_figma/'+(router.url.endsWith('/securite/acces')? 'acces_green.svg': 'acces.svg')"
                alt="Rendez-Vous">
              <span>Accès</span>
            </a>
          </li>
        </ul>
      </li>
&lt;!&ndash;      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>&ndash;&gt;
    </ul>
    <div class="parent" *ngIf="currentUser">
      <div class="avatar">
        <nz-avatar [nzText]="getUserFullNameInitials()" nzSize="large"
                   style="color: #266141; background-color:#d9f5b5;">

        </nz-avatar>
      </div>
      <div class="fullName">
        <p>{{currentUser.fullName}}</p>
      </div>
      <div class="role">
        {{currentUser.role}}
      </div>
      <div class="actions">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <img src="assets/from_figma/arrow-down.svg" alt="Hover me">
        </a>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
&lt;!&ndash;    <nz-header></nz-header>&ndash;&gt;
    <nz-content>
&lt;!&ndash;      <nz-breadcrumb>&ndash;&gt;
&lt;!&ndash;        <nz-breadcrumb-item>User</nz-breadcrumb-item>&ndash;&gt;
&lt;!&ndash;        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>&ndash;&gt;
&lt;!&ndash;      </nz-breadcrumb>&ndash;&gt;
&lt;!&ndash;      <div class="inner-content">Bill is a cat.</div>&ndash;&gt;
      <router-outlet></router-outlet>
    </nz-content>
&lt;!&ndash;    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>&ndash;&gt;
  </nz-layout>
</nz-layout>


<ng-template #titleOrganisation>
  &lt;!&ndash;  <span nz-icon nzType="team" [nzTheme]="router.url.includes('/organisation/') ? 'fill': 'outline'"></span>&ndash;&gt;
  &lt;!&ndash;  <img
      [src]="'assets/from_figma/' + (router.url.includes('/organisation/') ? 'Organisation_full_white.svg' : 'Organisation.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Complexe-clinique</span>&ndash;&gt;
  <div
    [ngClass]="{'selected-module': router.url.includes('/organisation/'), 'module-tag': !router.url.includes('/organisation/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/organisation/') ? 'Organisation_full_white.svg' : 'Organisation.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Complexe-Clinique</span>
  </div>
</ng-template>

<ng-template #titlePersonnes>
  &lt;!&ndash;  <span nz-icon nzType="user" [nzTheme]="router.url.includes('/personnes/') ? 'fill': 'outline'"></span>&ndash;&gt;
  <div [ngClass]="{'selected-module': router.url.includes('/personnes/'), 'module-tag': !router.url.includes('/personnes/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/personnes/') ? 'Personnes_full_white.svg' : 'Personnes.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Patients</span>
  </div>

</ng-template>

<ng-template #titleFinance>
  &lt;!&ndash;  <span nz-icon nzType="user" [nzTheme]="router.url.includes('/personnes/') ? 'fill': 'outline'"></span>&ndash;&gt;
  <div [ngClass]="{'selected-module': router.url.includes('/finance/'), 'module-tag': !router.url.includes('/finance/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/finance/') ? 'Finance_full_white.svg' : 'Finance.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Finance</span>
  </div>

</ng-template>

<ng-template #titleSecurite>
  &lt;!&ndash;  <span nz-icon nzType="team" [nzTheme]="router.url.includes('/securite/') ? 'fill': 'outline'"></span>&ndash;&gt;
  <div [ngClass]="{'selected-module': router.url.includes('/securite/'), 'module-tag': !router.url.includes('/securite/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/securite/') ? 'Securite_full_white.svg' : 'Securite.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Securite</span>
  </div>
</ng-template>

<ng-template #titleDossiers>
  &lt;!&ndash;  <span nz-icon nzType="folder" [nzTheme]="router.url.includes('/dossiers/') ? 'fill': 'outline'"></span>&ndash;&gt;
  <div [ngClass]="{'selected-module': router.url.includes('/dossiers/'), 'module-tag': !router.url.includes('/dossiers/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/dossiers/') ? 'Dossier_full_white.svg' : 'Dossier.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Prestations</span>
  </div>

</ng-template>

<ng-template #titleParametre>
  &lt;!&ndash;  <span nz-icon nzType="team" [nzTheme]="router.url.includes('/parametre/') ? 'fill': 'outline'"></span>&ndash;&gt;
  <div [ngClass]="{'selected-module': router.url.includes('/parametre/'), 'module-tag': !router.url.includes('/parametre/')}">
    <img
      [src]="'assets/from_figma/' + (router.url.includes('/parametre/') ? 'Parametre_full_white.svg' : 'Parametre.svg')"
      alt="Dossiers" class="module_logo" width="16.5">
    <span>Paramètres</span>
  </div>

</ng-template>
-->

<nz-layout>
  <nz-sider nzTheme="light" nzWidth="16%">
    <div id="firstIMG">
      <img src="assets/from_figma/logo_dark.svg" alt="Logo TouchMed" class="bg-img">
    </div>
    <!-- Template pour le titre avec l'image et la description du module -->
    <ul nz-menu nzMode="inline">
      <!-- Loop through modules that have actions -->
      <li nz-menu-item [ngClass]="{'firstNav': router.url =='/admin/dashboard'}">
        <a routerLink="/admin/dashboard" class="selectedLink" >

          <img width="16"
               [src]="'assets/from_figma/'+  (router.url=='/admin/dashboard'?'Dashboard_full_white.svg':'Dashboard.svg' )"
               alt="Dashboard">
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngFor="let module of filteredModules"
          nz-submenu
          [(nzOpen)]="openMap[module.code]"
          (nzOpenChange)="openHandler(module.code)" [nzTitle]="moduleTitle">
        <ng-template #moduleTitle>
          <div class="module-title" [ngClass]="{'selected-module': isRouteActive(module), 'module-tag': !isRouteActive(module) }">
            <img
              [src]="getIconPathModule(module)"
               class="module_logo" width="16.5">
            <span>{{ module.description }}</span>
          </div>
        </ng-template>

        <ul>
          <li *ngFor="let fonctionnalite of module.fonctionnalites" nz-menu-item>
            <a [routerLink]="getRouterLink(fonctionnalite)" class="selectedLink">
              <img [src]="getIconPath(fonctionnalite)">
              <span>{{ fonctionnalite.description }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="parent" *ngIf="currentUser">
      <div class="avatar">
        <nz-avatar [nzText]="getUserFullNameInitials()" nzSize="large"
                   style="color: #266141; background-color:#d9f5b5;">
        </nz-avatar>
      </div>
      <div class="fullName">
        <p>{{currentUser.fullName}}</p>
      </div>
      <div class="role">
        {{currentUser.role}}
      </div>
      <div class="actions">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <img src="assets/from_figma/arrow-down.svg" alt="Hover me">
        </a>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li class="selectedLink" nz-menu-item>
      <img alt="identity" src="assets/from_figma/personnels.svg" width="20">
      <span>Mon Profil</span>
    </li>
    <li class="selectedLink" nz-menu-item>
      <img alt="Modifier MP" src="assets/from_figma/change_pw.svg" width="20">
      <span>Modifier mon mot de passe</span>
    </li>
    <li (click)="logOut()" class="selectedLink" nz-menu-item>
      <img alt="Modifier MP" src="assets/from_figma/logout.svg" width="20">
      <span>Se déconnecter</span>
    </li>
  </ul>
</nz-dropdown-menu>
