#firstIMG
  display: block
  margin: 4rem 50px

//nz-sider
//  overflow: auto
//  height: 90%
//  position: fixed
//  left: 0

nz-layout:first-of-type
  display: flex
  height: 100%

  nz-sider
    overflow: auto
    height: 100%
    width: 15% // Définir la largeur du nz-sider à 15% de la largeur du parent
    position: fixed
    left: 0

  nz-layout
    margin-left: 16%
    overflow: auto



nz-header
  background: #fff
  padding: 0
