.make-spaceBetween, .make-me-flex
  > p:nth-child(1)
    color: #252525
    font-family: 'Lato', sans-serif
    font-size: 1.125rem
    font-weight: 700

  > img
    cursor: pointer


  .weird-div
    margin-bottom: 1rem

  nz-form-item
    width: 48%
    height: 4.5rem

.make-me-flex
  nz-form-item
    margin-right: 4%

  .weird-div
    margin-bottom: .75rem
